.ps {
    position: relative;

    > .ps__rail-x {
        z-index: 99999;
        opacity: 0.6;
    }

    > .ps__rail-y {
        z-index: 99999;
        left: auto !important;
        opacity: 0.6;
    }
}