@import "src/@fuse/scss/fuse";

mat-slider {
    width: 800px;
}

.mat-accent-bg {
    background-color: rgba(3, 169, 244, 1);
    color: white;
}

.nodes-deploy {
    font-size: 12px;
    height: 14px;

}
.provider {
    border: 1px solid rgba(0,0,0,0.1);
    margin: 5px;
    /*&:hover {
        cursor: pointer;
        border: 1px solid rgba(0,0,0,0.3);
    }*/
}

.provider-warning {
    font-style: italic;
}

:host {

    #configuration {

        .configuration-content {

            .general {

                .location {

                    mat-icon {
                        line-height: 13px !important;
                    }
                }
            }

            .work {

                .job {

                    .company {
                        padding: 0 16px 0 0;
                        font-weight: 500;
                    }

                    .date {
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
            }
        }

        .about-sidebar {
            padding-left: 32px;

            @include media-breakpoint('sm') {
                padding: 8px
            }

            .friends {

                .content {

                    .friend {
                        padding: 4px;
                    }
                }
            }

            .groups {

                .content {

                    .group {
                        margin-bottom: 16px;
                        //border: 0.1px solid rgba(3, 155, 229, 1);
                        //padding: 10px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .logo {
                            border: 1px solid rgba(0, 0, 0, 0.12);
                            margin-right: 16px;
                            width: 100px;
                            height: 100px;
                        }

                        .name {
                            font-weight: 500;
                            font-size: 15px;
                        }

                        .link,
                        .date {
                            color: rgba(0, 0, 0, 0.54);
                        }

                        .date {
                            margin-top: 16px;
                        }
                    }
                }
            }
        }
    }

    // Profile boxes
    .profile-box {
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                }

                .subcontent {
                    margin-left: 20px;
                }

                .subtitle {
                    margin-top: 10px;
                }

                .info {

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.stack-card {
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 4px;
}

.stack-card:hover {
    border: 1px solid rgba(3, 155, 229, 0.5);
    cursor: pointer;
}

.stack-card-header {
    display: flex;
    justify-content: space-between;
}

.stack-card-title {
    font-size: 18px;
}

.stack-description {
    margin-left: 16px;
    padding-bottom: 10px;
}

.stack-icon {
    font-size: 14px;
    color: rgba(60, 66, 82, 1);
}

.stack-custom-icons {
    height: 16px;
    width: 16px;
    margin-left: 5px;
}