<div id="configuration" class="p-24" fxLayout="row wrap">

    <div class="configuration-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box groups" fxLayout="column">
            <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Cluster Size</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="subcontent">
                        <div class="subtitle">Currently Deployed Nodes:
                            <div style="display: inline-flex; margin-left: 10px;">
                                {{deployed_nodes}}
                            </div>
                        </div>
                        <mat-divider style="margin: 10px 50px 10px 0px;"></mat-divider>

                        <div class="subtitle">
                            <mat-icon style="font-size: 16px;">cloud_upload</mat-icon>
                            Update Cluster:
                        </div>
                        <mat-slider min="1" max="250" [(ngModel)]="nodedeployvalue"></mat-slider>
                        <br>
                        <mat-form-field class="node-input">
                            <input matInput type="number" min="1" max="250" placeholder="Number of Nodes in Cluster"
                                   [(ngModel)]="nodedeployvalue">
                        </mat-form-field>

                        <button
                            mat-raised-button
                            (click)="resizeCluster()"
                            class="next-button mat-accent"
                            id="deploy-nodes"
                            aria-label="NEXT"
                            [disabled]="nodedeployvalue==deployed_nodes"
                            style="margin-left: 20px; width: 160px;">
                            RESIZE CLUSTER
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>
<!--
    <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">


        <div class="profile-box groups" fxLayout="column">

            <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Cluster Size</div>
            </header>

            <div class="content">
-->
                <!--<div class="info-line">
                    <div class="title">Selected Cluster</div>
                    <div class="info" *ngIf="bursting_configuration.selected_provider.id==''">{{bursting_configuration.selected_provider.name}}</div>
                    <div class="info" *ngIf="bursting_configuration.selected_provider.id!=''">{{bursting_configuration.selected_provider.name}} ({{bursting_configuration.selected_provider.id}})</div>
                </div>-->
<!--
                <div class="info-line">
-->
                    <!--<div class="title">Size</div>-->
<!--
                    <div class="subcontent">
                        <div class="subtitle">Currently Deployed Nodes:
                            <div style="display: inline-flex; margin-left: 10px;">
                                {{deployed_nodes}}
                            </div>
                        </div>
                        <mat-divider style="margin: 10px 50px 10px 0px;"></mat-divider>

                        <div class="subtitle">
                            <mat-icon style="font-size: 16px;">cloud_upload</mat-icon>
                            Update Cluster:
                        </div>
                        <mat-slider min="1" max="250" [(ngModel)]="nodedeployvalue"></mat-slider>
                        <br>
                        <mat-form-field class="node-input">
                            <input matInput type="number" min="1" max="250" placeholder="Number of Nodes in Cluster"
                                   [(ngModel)]="nodedeployvalue">
                        </mat-form-field>

                        <button
                            mat-raised-button
                            (click)="resizeCluster()"
                            class="next-button mat-accent"
                            id="deploy-nodes2"
                            aria-label="NEXT"
                            [disabled]="nodedeployvalue==deployed_nodes"
                            style="margin-left: 20px; width: 160px;">
                            RESIZE CLUSTER
                        </button>
-->
                        <!--<div class="subtitle">
                            <mat-icon style="font-size: 16px;">cloud_off</mat-icon>
                            Destroy Nodes:
                        </div>
                        <mat-slider min="0" max="deployed_nodes" [(ngModel)]="nodedestroyvalue" [disabled]="bursting_configuration.selected_provider=='- not yet configured -'"></mat-slider>
                        <br>
                        <mat-form-field class="node-input">
                            <input matInput type="number" min="0" max="deployed_nodes" placeholder="Number of Nodes to Destroy"
                                   [(ngModel)]="nodedestroyvalue" [disabled]="bursting_configuration.selected_provider=='- not yet configured -'">
                        </mat-form-field>

                        <button
                            mat-raised-button
                            (click)="destroyNodes()"
                            class="next-button mat-accent"
                            id="destroy-nodes"
                            aria-label="NEXT"
                            [disabled]="nodedestroyvalue==0"
                            style="margin-left: 20px; width: 160px;">
                            DESTROY NODES
                        </button>-->
<!--
                    </div>
                </div>
-->
                <!--<div class="info-line">
                    <button
                        mat-raised-button
                        (click)="destroyCluster()"
                        class="next-button mat-accent"
                        id="destroyCluster"
                        aria-label="NEXT"
                        [disabled]="bursting_configuration.selected_provider.name=='- not yet configured -'"
                        style="margin-top: 50px;">
                        DESTROY CLUSTER
                    </button>
                </div>-->
<!--
            </div>
-->


            <!--<header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Active Clusters</div>
                <div class="more secondary-text">
                    <span>See 6 more...</span>
                </div>
            </header>

            <div class="content">

                <div class="group" *ngFor="let provider of bursting_configuration.providers" fxLayout="row"
                     fxLayoutAlign="space-between center">

                    <div fxLayout="row" fxLayoutAlign="start center">

                        <img [src]="provider.icon" class="logo" alt="{{provider.name}}"/>

                        <div>
                            <div class="name">{{provider.name}}</div>
                            <a href="{{provider.link}}" target="_blank">{{provider.link}}</a>
                            <div class="date">Added: {{provider.date}}</div>
                        </div>
                    </div>

                    <button mat-icon-button aria-label="More" [matMenuTriggerFor]="moreMenu"
                            (click)="$event.stopPropagation();">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #moreMenu="matMenu" [overlapTrigger]="false" xPosition="before">
                        <button mat-menu-item aria-label="details" (click)="showCloudProviderDetails(provider)">
                             <mat-icon>list</mat-icon>
                             <span>Details</span>
                         </button>
                        <button mat-menu-item aria-label="select" (click)="selectCloudProvider(provider)">
                            <mat-icon>cloud_upload</mat-icon>
                            <span>Select Cluster</span>
                        </button>
                        <button mat-menu-item aria-label="remove" (click)="removeCluster(provider)">
                            <mat-icon>delete</mat-icon>
                            <span>Remove Cluster</span>
                        </button>
                    </mat-menu>
                </div>
            </div>-->
<!--
        </div>

    </div>
-->
</div>
