<div class="dialog-content-wrapper" style="width: 100%">
    <div style="margin-bottom: 30px;">
        <div style="position: absolute; right: 90px;">
            <span>Refresh</span>
            <button mat-icon-button aria-label="Refresh"
                    (click)="updateStackList()">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc"
           multiTemplateDataRows>
        <!-- Cluster Icon Column -->
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let stack">
                <img class="stack-icon" [src]="stack.icon">
            </td>
        </ng-container>

        <!-- Stack Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
            <td mat-cell *matCellDef="let stack">
                <div *ngIf="stack.state!='Available'">{{stack.name}}</div>
                <a *ngIf="stack.state=='Available'" class="stack-available">{{stack.name}}</a>
            </td>
        </ng-container>

        <!-- Stack Version Column -->
        <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="provider">Version</th>
            <td mat-cell *matCellDef="let stack"><span class="title">{{stack.version}}</span>
            </td>
        </ng-container>

        <!-- Stack State Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="state">State</th>
            <td mat-cell *matCellDef="let stack">{{stack.state}}</td>
        </ng-container>

        <!-- Buttons Column -->
        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef class="stack-options-button"></th>
            <td mat-cell *matCellDef="let stack" class="stack-options-button">
                <div fxFlex="row" fxLayoutAlign="end center">

                    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                            (click)="$event.stopPropagation();">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Details" (click)="showStackDetails(stack)">
                        <mat-icon *ngIf="stackDetails.id != stack.id" class="secondary-text">arrow_drop_down
                        </mat-icon>
                        <mat-icon *ngIf="stackDetails.id == stack.id" class="secondary-text">arrow_drop_up
                        </mat-icon>
                    </button>

                    <mat-menu #moreMenu="matMenu">
                        <button mat-menu-item aria-label="remove" (click)="deleteStack(stack)">
                            <mat-icon>delete_forever</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </div>
            </td>
        </ng-container>

        <!-- Cluster Expanded Details -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let stack" [attr.colspan]="displayedColumns.length" style="cursor: default;">
                <div class="stack-detail"
                     [@detailExpand]="stack.id == stackDetails.id ? 'expanded' : 'collapsed'">
                    <mat-card style="width: 100%">

                        <div class="container" fxLayout="column" fxLayoutWrap>
                            <div fxLayout="row">
                                <div fxFlex="25%">Created At:</div>
                                <div style="display: inline-flex;">{{stack.created_at}} (UTC)</div>
                            </div>

                        </div>
                    </mat-card>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let stack; columns: displayedColumns;" [class]="stack.state">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="stack-details-row"></tr>
    </table>
</div>