<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form name="providerForm" [formGroup]="providerForm" class="event-form w-100-p" fxLayout="column" fxFlex>

            <div class="form-content" id="formContent">
                <mat-radio-group class="provider-selection-group" formControlName="cloudProvider"
                                 id="cloudProviderSelection"
                                 [(ngModel)]="selectedValue">
                    <div fxLayout="row wrap" fxLayoutGap="10px">
                        <div *ngFor="let provider of providers">
                            <label class="provider-selection-label">
                                <mat-radio-button class="provider-selection-button"
                                                  [value]="provider.name">
                                </mat-radio-button>
                                <mat-card class="provider-selection-card" tabindex="0">
                                    <mat-card-header>
                                        <mat-card-title style="font-size: 14px">{{provider.name}}</mat-card-title>
                                        <mat-card-subtitle class="provider-subtitle">{{provider.link}}
                                        </mat-card-subtitle>
                                    </mat-card-header>
                                    <img mat-card-image class="provider-selection-image"
                                         src="assets/images/providers/{{provider.name}}.png">
                                </mat-card>
                            </label>
                        </div>
                    </div>
                </mat-radio-group>

                <div id="cloudProviderDescription"><!-- class="provider-description" [ngSwitch]="selectedValue">
                    <div *ngFor="let provider of providers">
                        <div *ngSwitchCase='provider.name'>
                            {{provider.description}}
                        </div>
                    </div>
                    <div *ngSwitchDefault>
                    </div>-->
                </div>

                <mat-form-field class="w-100-p" style="display:none" id="selectedCloudProvider">
                    <input matInput
                           name="selectedCloudProvider"
                           formControlName="selectedCloudProvider"
                           placeholder="Cloud Provider"
                           required
                    >
                </mat-form-field>

                <mat-form-field class="w-100-p" style="display:none" id="clusterName">
                    <input matInput
                           name="clusterName"
                           formControlName="clusterName"
                           placeholder="Cluster Name"
                           required
                           (change)="checkClusterNameAvailability()"
                    >
                    <mat-hint style="color: rgba(185, 35, 35, 1);" *ngIf="cluster_name_exists">
                        Cluster name already exists.
                    </mat-hint>
                </mat-form-field>

                <mat-form-field class="w-100-p" style="display:none" id="clusterPurgeTime">
                    <input matInput
                           name="clusterPurgeTime"
                           formControlName="clusterPurgeTime"
                           placeholder="Cluster Idle Purge Time (seconds)"
                           type="number"
                           required
                           [readonly]="action=='on-demand'"
                    >
                </mat-form-field>

                <div style="display: none" id="nodesNumberLabel">Cluster Size:</div>
                <div style="display:none" id="nodesNumberSlider" class="custom-slider">
                    <ng5-slider [(value)]="nodesNumber" [options]="options"></ng5-slider>
                </div>
                <!--<mat-slider style="display:none" id="nodesNumberSlider" min="1" max="250" [(ngModel)]="nodesNumber"
                            [ngModelOptions]="{standalone: true}" [disabled]="action=='on-demand'"></mat-slider>-->
                <mat-form-field style="display:none" id="nodesNumber" class="node-input">
                    <input class="field" matInput type="number" min="1" max="250" formControlName="nodesNumber"
                           [(ngModel)]="nodesNumber" placeholder="Number of Nodes" [readonly]="action=='on-demand'">
                </mat-form-field>

                <mat-form-field style="display:none" id="headNodeSize" class="w-100-p">
                    <mat-select placeholder="Head Node Instance Size" required formControlName="headNodeSize">
                        <mat-option *ngFor="let instance_size of providers[selected_provider_index].instance_sizes"
                                    [value]="instance_size.value">
                            {{instance_size.displayName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="display:none" id="computeNodeSize" class="w-100-p">
                    <mat-select placeholder="Compute Node Instance Size" required formControlName="computeNodeSize">
                        <mat-option *ngFor="let instance_size of providers[selected_provider_index].instance_sizes"
                                    [value]="instance_size.value">
                            {{instance_size.displayName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-checkbox style="display:none" id="clusterMoveData" formControlName="clusterMoveData"
                              labelPosition="before" class="form-footer">Move Job Output Data off Cluster:
                </mat-checkbox>

                <div style="display: none;" id="stackManagement">
                    <div style="margin-bottom: 20px;">Configure your custom stack by selecting any required packages
                        below:
                    </div>
                    <!--<div fxLayout="row" style="margin-bottom: 20px;">
                        <div class="search-wrapper mt-16 mt-sm-0">
                            <div class="search">
                                <input placeholder="Search for a package">
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>-->
                    <div fxLayout="row wrap">
                        <div *ngFor="let option of stack_options">
                            <mat-card class="stack-card">
                                <mat-card-header>
                                    <mat-card-title>{{option.displayName}}
                                        <mat-checkbox class="stack-card-checkbox"></mat-checkbox>
                                    </mat-card-title>
                                </mat-card-header>
                                <img mat-card-image class="stack-card-image"
                                     [src]="option.icon">
                            </mat-card>
                        </div>
                    </div>
                </div>
                <!--

                <label class="provider-selection-label" *ngFor="let provider of providers">
                    <mat-checkbox class="provider-selection-button"
                                      [value]="provider.name">
                    </mat-checkbox>
                    <mat-card class="provider-selection-card" tabindex="0">
                        <mat-card-header>
                            <mat-card-title style="font-size: 14px">{{provider.name}}</mat-card-title>
                            <mat-card-subtitle class="provider-subtitle">{{provider.link}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image class="provider-selection-image"
                             src="assets/images/providers/{{provider.name}}.png">
                    </mat-card>
                </label>-->

                <div *ngFor="let provider of providers" id={{provider.name}}_authentication
                     style="display:none; margin-top: 20px;">
                    <div *ngFor="let field of provider.authentication">
                        <mat-form-field class="w-100-p" [ngSwitch]="field.control">
                            <mat-select *ngSwitchCase="'mat-select'"></mat-select>
                            <input matInput *ngSwitchDefault
                                   name={{field.label}}
                                   formControlName={{field.id}}
                                   placeholder={{field.label}}
                                   type={{field.type}}
                                   required>
                        </mat-form-field>
                    </div>
                </div>

                <div id="google_authentication" style="display: none;">
                    <div style="margin-bottom: 20px;">Google Cloud Credentials File:*</div>
                    <input type="file" accept="application/JSON" (change)="activateSubmitGoogle($event)">
                </div>

                <div id="oracle_authentication" style="display: none;">
                    <div style="margin-bottom: 20px;">Oracle Cloud Credentials File:*</div>
                    <input type="file" accept="application/JSON" (change)="activateSubmitOracle($event)">
                </div>

                <div id="azure_authentication" style="display: none;">
                    <div style="margin-bottom: 20px;">Microsoft Azure Credentials File:*</div>
                    <input type="file" accept="application/JSON" (change)="activateSubmitAzure($event)">
                </div>

                <div id="huawei_authentication" style="display: none;">
                    <div style="margin-bottom: 20px;">Huawei Cloud Credentials File:*</div>
                    <input type="file" accept="application/JSON" (change)="activateSubmitHuawei($event)">
                </div>

                <div id="otc_authentication" style="display: none;">
                    <div style="margin-bottom: 20px;">Open Telekom Cloud Credentials File:*</div>
                    <input type="file" accept="application/JSON" (change)="activateSubmitOtc($event)">
                </div>

                <div *ngFor="let provider of providers" id={{provider.name}}_bursting
                     style="display:none; margin-top: 20px;">
                    <div *ngFor="let field of provider.burst_config">
                        <mat-form-field class="w-100-p" [ngSwitch]="field.control">
                            <mat-select *ngSwitchCase="'mat-select'" placeholder={{field.label}}
                                        formControlName={{field.id}}
                                        required>
                                <mat-option *ngFor="let instanceType of field.options" [value]="instanceType.name">
                                    {{instanceType.displayName}}
                                </mat-option>
                            </mat-select>
                            <input matInput *ngSwitchDefault
                                   name={{field.label}}
                                   formControlName={{field.id}}
                                   placeholder={{field.label}}
                                   type={{field.type}}
                                   required
                            >
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div id="providerProgress" class="progress-tab">
                <div class="progress-intro">Please wait, while your cloud provider is being configured. This step can
                    take several minutes to complete.
                </div>
                <mat-divider></mat-divider>
                <mat-card class="progress-card" tabindex="0">
                    <mat-card-header class="progress-header">
                        <mat-card-title class="progress-title">Setting Up Cloud Provider</mat-card-title>
                        <mat-icon id="progressCompleteIcon" class="icon-complete" style="display: none;">done</mat-icon>
                        <mat-icon id="progressErrorIcon" class="icon-error" style="display: none;">report_problem
                        </mat-icon>
                        <mat-card-subtitle id="progressSubtitle">Deploying Cluster...</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="progress-content">
                        <mat-progress-bar id="progressBar" mode="indeterminate" color="accent"></mat-progress-bar>
                    </mat-card-content>
                </mat-card>
            </div>


        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <button
            mat-raised-button
            (click)="showPreviousScreen()"
            class="back-button mat-accent"
            id="back-button"
            disabled
            aria-label="BACK"
        >
            BACK
        </button>

        <button
            mat-raised-button
            (click)="showNextScreen()"
            class="next-button mat-accent"
            id="next-button"
            [disabled]="providerForm.invalid || cluster_name_exists"
            aria-label="NEXT">
            NEXT
        </button>

        <button
            mat-raised-button
            (click)="submitGoogle()"
            class="next-button mat-accent"
            id="submit-google-button"
            aria-label="SUBMIT"
            style="display: none;"
            disabled="true">
            SUBMIT
        </button>

        <button
            mat-raised-button
            (click)="submitOracle()"
            class="next-button mat-accent"
            id="submit-oracle-button"
            aria-label="SUBMIT"
            style="display: none;"
            disabled="true">
            SUBMIT
        </button>

        <button
            mat-raised-button
            (click)="submitAzure()"
            class="next-button mat-accent"
            id="submit-azure-button"
            aria-label="SUBMIT"
            style="display: none;"
            disabled="true">
            SUBMIT
        </button>

        <button
            mat-raised-button
            (click)="submitHuawei()"
            class="next-button mat-accent"
            id="submit-huawei-button"
            aria-label="SUBMIT"
            style="display: none;"
            disabled="true">
            SUBMIT
        </button>

        <button
            mat-raised-button
            (click)="submitOtc()"
            class="next-button mat-accent"
            id="submit-otc-button"
            aria-label="SUBMIT"
            style="display: none;"
            disabled="true">
            SUBMIT
        </button>
    </div>
</div>
