@import "src/@fuse/scss/fuse";

.cloud-provider-form-dialog {
    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('m') {
        min-width: 680px;
        max-width: 1020px;
        width: 1020px;
    }

    .mat-card-title {
        font-size: 13px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }

    .provider-selection-group {

    }

    .provider-selection-label {
        margin: 5px;
    }

    .provider-selection-button {
        visibility: hidden;
    }

    .provider-selection-card {
        width: 184px;
        border: 1px solid rgba(0,0,0,0);
        padding-right: 0;
        padding-left: 0;
    }

    .provider-selection-card:hover {
        border: 1px solid rgba(3, 155, 229, 0.5);
        cursor: pointer;
    }

    .provider-selection-card:focus {
        border: 1px solid rgba(3, 155, 229, 1);
    }

    .provider-selection-image {
        height: 120px;
        width: 120px;
        margin-left: 30px;
        margin-right: 10px;
        background-size: cover;
    }

    .provider-icon-image {
        height: 60px;
        width: 60px;
        display: inline-flex;
    }

    .provider-description {
        margin: 40px 20px 0px 20px;
        height: 60px;
        font-style: italic;
    }

    .provider-title {

    }

    .provider-subtitle {
        font-size: 10px;
    }

    .search-wrapper {
        width: 100%;
        max-width: 480px;
        border-radius: 8px;
        overflow: hidden;
        @include mat-elevation(1);

        .search {
            width: 100%;
            height: 40px;
            line-height: 40px;


            input {
                width: 100%;
                height: 40px;
                min-height: 40px;
                max-height: 40px;

            }
        }
    }

    .stack-card {
        width: 126px;
        border: 1px solid rgba(0,0,0,0);
        padding-right: 0;
        padding-left: 0;
        margin: 5px;
    }

    .stack-card-image {
        height: 60px;
        width: 60px;
        margin-left: 30px;
    }

    .stack-card-checkbox {
        position: absolute;
        top: 11px;
        right: 10px;
    }

    .back-button {

    }

    .form-content {
        min-height: 215px;
    }

    .progress-tab {
        min-height: 215px;
        display: none;
    }

    .progress-intro {
        margin-bottom: 20px;
    }

    .progress-card{
        border: 0.1px solid rgba(3, 155, 229, 1);
        margin-top: 40px;
        margin-bottom: 7px;
    }

    .progress-header {
        display: flex;
        justify-content: space-between;
    }

    .progress-title {
        font-weight: bold;
    }

    .progress-content {
        margin: 10px;
    }

    .progress-image {
        height: 20px;
        width: 20px;
    }

    .icon-complete {
        color: darkgreen;
    }

    .icon-error {
        color: darkred;
    }

    .cloud-provider-intro {

    }

    .node-input {
        margin-left: 5px;
        margin-right: 20px;
    }
}
