<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0">

        <form *ngIf="formState=='cluster-config'" name="clusterConfigurationForm" [formGroup]="clusterConfigurationForm"
              class="event-form w-100-p" fxLayout="column" fxFlex>
            <div fxLayoutAlign="space-between center">Choose where you want to run you job:
            </div>

            <mat-divider class="custom-divider"></mat-divider>

            <mat-radio-group class="job-selection-group" formControlName="clusters" fusePerfectScrollbar>
                <div *ngFor="let cluster of cluster_configuration">
                    <label *ngIf="cluster.state=='Online' && !cluster.on_demand" class="job-selection-label">
                        <mat-radio-button class="job-selection-button"
                                          [value]="cluster">
                        </mat-radio-button>
                        <mat-card class="job-selection-card" tabindex="0">
                            <mat-card-header class="job-selection-header">

                                <mat-card-title class="job-selection-title">
                                    <mat-icon class="job-icon">cloud</mat-icon>
                                    {{cluster.name}}
                                </mat-card-title>
                                <div>
                                    <img class="cloud-custom-icons" [src]="cluster.icon"
                                         [alt]="cluster.name" [matTooltip]="[cluster.name]">
                                </div>
                            </mat-card-header>
                            <mat-card-content class="job-description">Cluster: {{cluster.id}}</mat-card-content>
                        </mat-card>
                    </label>
                </div>

                <!--<label class="job-selection-label">
                    <mat-radio-button class="job-selection-button"
                                      value="new-cluster">
                    </mat-radio-button>
                    <mat-card class="job-selection-card" tabindex="0">
                        <mat-card-header class="job-selection-header">

                            <mat-card-title class="job-selection-title">
                                <mat-icon class="job-icon">cloud_upload</mat-icon>
                                New On-Demand Cluster
                            </mat-card-title>
                            <div>

                            </div>
                        </mat-card-header>
                        <mat-card-content class="job-description">Deploy a new cluster specifically for this job.</mat-card-content>
                    </mat-card>
                </label>-->
            </mat-radio-group>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <button
            mat-raised-button
            (click)="matDialogRef.close()"
            class="next-button mat-accent"
            id="cancel-button"
            aria-label="CANCEL">
            CANCEL
        </button>

        <button
            *ngIf="formState=='cluster-config'"
            mat-raised-button
            (click)="submitJob()"
            class="next-button mat-accent"
            id="next-button-cluster"
            aria-label="SUBMIT"
            [disabled]="clusterConfigurationForm.invalid">
            SUBMIT
        </button>
    </div>
</div>
