<div class="sidebar-content">
    <div class="card">
        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/images/logos/nodus.png" class="card-icon">
            <span>NODUS Cloud Platform</span>
        </div>

        <div class="content py-16" fusePerfectScrollbar>
            <div class="nav material2">
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('all')" [ngClass]="{'active accent':filterBy === 'all'}">
                        <span class="title">All Processes</span>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('active')" [ngClass]="{'active accent':filterBy === 'active'}">
                        <span class="title">Active Processes</span>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('completed')" [ngClass]="{'active accent':filterBy === 'completed'}">
                        <span class="title">Completed Processes</span>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('failed')" [ngClass]="{'active accent':filterBy === 'failed'}">
                        <span class="title">Failed Processes</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>