@import "src/@fuse/scss/fuse";

.quick_view_bullet {
    float: right;
    margin-right: 30px;
}

:host {

    #home {

        .mat-accent-bg {
            background-color: rgba(3, 169, 244, 1);
            color: white;
        }

        .timeline-content {

            .test-drive-instructions {
                margin-bottom: 0;
                @include mat-elevation(2);

                p {
                    display: flex;
                    flex: 1 0 auto;
                    width: 100%;
                    border: none;
                    padding: 16px;
                    resize: vertical;
                }

                footer {
                    padding: 8px;
                    border-top: 1px solid rgba(0, 0, 0, 0.08);
                    background: #F3F4F5;

                    .submit-job-button {
                        margin: 0;
                        height: 30px;
                        line-height: 30px;
                        min-height: 30px;
                    }
                }
            }

            mat-divider {
                border-top-width: 1px;
                border-top-style: solid;
                margin: 32px 0;
            }

            .widget-title {
                font-size: 16px;
            }

            .widget-subtitle {
                font-size: 14px;
            }

            .timeline-item {
                margin-bottom: 32px;
                overflow: hidden;
                border-radius: 2px;
                background: #FFFFFF;
                @include mat-elevation(2);

                &:last-child {
                    margin-bottom: 0;
                }

                header {
                    padding: 16px 0 8px 16px;

                    .title {
                        font-weight: 500;

                        .username {
                            margin-right: 2px;
                            color: rgba(3, 169, 244, 1);
                        }
                    }

                    .time {
                        color: rgba(0, 0, 0, 0.54);
                    }
                }

                .content {

                    .message {
                        padding: 16px;
                    }

                    .media {
                        padding: 16px;

                        img, iframe {
                            width: 100%;
                        }

                        a {
                            color: inherit;
                        }
                    }

                    .like-button,
                    .share-button {
                        padding: 4px 6px;
                        text-transform: inherit;
                        font-size: 13px;
                        font-weight: normal;
                        margin: 0 0 16px 8px;
                        min-width: inherit;
                        line-height: inherit;

                        &:hover {
                            background-color: transparent;
                        }

                        mat-icon {
                            margin: 0 8px 0 0;
                        }
                    }

                    .article {
                        border: 1px solid rgba(0, 0, 0, 0.12);
                        margin: 16px;

                        .media {
                            padding: 0;
                            overflow: hidden;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                            img {
                                display: block;
                                padding: 0;
                            }

                        }

                        .title {
                            font-size: 15px;
                            padding: 16px 16px 4px 16px;
                        }

                        .subtitle {
                            padding: 0 16px;
                            color: rgba(0, 0, 0, 0.54);
                        }

                        .excerpt {
                            padding: 16px 16px;
                        }
                    }
                }

                footer {
                    border-top: 1px solid rgba(0, 0, 0, 0.08);
                    background-color: rgba(0, 0, 0, 0.04);
                    padding: 16px;

                    .comment-count {
                        margin-bottom: 16px;
                        cursor: pointer;

                        mat-icon {
                            margin-left: 8px;
                        }
                    }

                    .comment {
                        margin-bottom: 24px !important;

                        .username {
                            font-weight: 500;
                            margin-right: 4px;
                        }

                        .message {
                            color: rgba(0, 0, 0, 0.87);
                        }

                        .time {
                            color: rgba(0, 0, 0, 0.54);
                        }

                        .actions {
                            margin-top: 8px;

                            .reply-button {
                                margin-right: 16px;
                                cursor: pointer;
                                color: rgba(3, 169, 244, 1);
                            }

                            .report-button {
                                margin: 0;
                                cursor: pointer;
                            }
                        }
                    }

                    .reply {

                        form {

                            textarea {
                                width: 100% !important;
                                min-height: 72px;
                                padding: 8px;
                                margin-bottom: 8px;
                                font-size: 13px;
                                border: 1px solid rgba(0, 0, 0, 0.12);
                            }

                            .post-comment-button {
                                margin: 0;
                                text-transform: inherit;
                                font-weight: normal;
                                padding: 0 12px;
                                min-height: 30px;
                                min-width: inherit;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }

        .timeline-sidebar {
            padding-left: 32px;

            @include media-breakpoint('sm') {
                padding: 32px 0 0 0;
            }

            .latest-activity {

                .content {
                    background-color: #FFF;
                    max-height: 719px;

                    .activities {

                        .activity {
                            padding: 16px 0 14px 0;

                            .avatar {
                                margin-right: 16px;
                            }

                            .job {
                                cursor: pointer;
                                font-weight: 500;
                                color: rgba(3, 169, 244, 1);
                            }

                            .activity_title {
                                font-weight: 500;
                                color: rgba(60, 66, 82, 1);
                            }

                            .message {
                                font-weight: 500;
                            }

                            .time {
                            }
                        }

                        .activity-wrapper {
                            display: inline-flex;
                        }
                    }
                }
            }
        }
    }

    // Profile boxes
    .profile-box {
        border-radius: 4px;
        overflow: hidden;
        margin-top: 12px;
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 600;
                    padding-bottom: 4px;
                }

                .info {

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
