<div id="home" class="p-24" fxLayout="row wrap">

    <div class="timeline-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="70" fxFlex.gt-md="70">

        <div fxLayout="row wrap">
            <!-- WIDGET WORKLOAD HISTORY -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                <!-- Front -->
                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                         fxLayoutAlign="space-between center">
                        <div class="widget-title">Workload History (global)</div>

                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                aria-label="more">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>

                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                        <div class="red-fg font-size-72 line-height-72">
                            {{dashboard_quick_view.jobs_today}}
                        </div>
                        <div class="widget-title font-weight-500">JOBS TODAY
                        </div>
                    </div>

                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="widget-subtitle text-truncate">
                                        Blocked Jobs:
                                    </span>
                        <span class="widget-subtitle ml-8">{{dashboard_quick_view.jobs_failed}}</span>
                    </div>
                </div>
                <!-- / Front -->

                <!-- Back -->
                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                            aria-label="Flip widget">
                        <mat-icon class="s-16">close</mat-icon>
                    </button>

                    <div>
                        You have submitted a total of <b>{{dashboard_quick_view.jobs_total}}</b> jobs:
                        <ul>
                            <li>Today: <b class="quick_view_bullet">{{dashboard_quick_view.jobs_today}}</b></li>
                            <!--<li>Last 7 Days: <b class="quick_view_bullet">{{dashboard_quick_view.jobs_week}}</b>
                            </li>-->
                            <li>This Month: <b class="quick_view_bullet">{{dashboard_quick_view.jobs_month}}</b></li>
                            <li>This Year: <b class="quick_view_bullet">{{dashboard_quick_view.jobs_year}}</b></li>
                        </ul>
                    </div>
                </div>
                <!-- / Back -->

            </fuse-widget>
            <!-- / WIDGET WORKLOAD HISTORY -->

            <!-- WIDGET CLOUD USAGE -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                <!-- Front -->
                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                         fxLayoutAlign="space-between center">
                        <div class="widget-title">Active Clusters (global)</div>

                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                aria-label="more">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>

                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                        <div class="orange-fg font-size-72 line-height-72">
                            {{dashboard_quick_view.cluster_online}}
                        </div>
                        <div class="widget-title font-weight-500">ONLINE CLUSTERS
                        </div>
                    </div>

                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="widget-subtitle text-truncate">
                                        Total Number of Clusters:
                                    </span>
                        <span class="widget-subtitle ml-8">{{dashboard_quick_view.cluster_total}}</span>
                    </div>
                </div>
                <!-- / Front -->

                <!-- Back -->
                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                            aria-label="Flip widget">
                        <mat-icon class="s-16">close</mat-icon>
                    </button>

                    <div>
                        You have a total of <b>{{dashboard_quick_view.cluster_total}}</b> active cluster(s):
                        <ul>
                            <li>AWS: <b class="quick_view_bullet">{{dashboard_quick_view.cluster_aws}}</b></li>
                            <li>Google: <b class="quick_view_bullet">{{dashboard_quick_view.cluster_google}}</b>
                            </li>
                            <li>Azure: <b class="quick_view_bullet">{{dashboard_quick_view.cluster_azure}}</b></li>
                            <li>Oracle: <b class="quick_view_bullet">{{dashboard_quick_view.cluster_oracle}}</b></li>
                        </ul>
                    </div>
                </div>
                <!-- / Back -->

            </fuse-widget>
            <!-- / WIDGET CLOUD USAGE -->


            <!-- WIDGET WORKLOAD -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                <!-- Front -->
                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                         fxLayoutAlign="space-between center">
                        <div class="widget-title">Selected Cluster - Queue</div>

                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                aria-label="more">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>

                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                        <div class="purple-fg font-size-72 line-height-72">
                            {{dashboard_quick_view.queue_running}}
                        </div>
                        <div class="widget-title font-weight-500">RUNNING JOBS
                        </div>
                    </div>

                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="widget-subtitle text-truncate">
                                        Total Number of Jobs:
                                    </span>
                        <span class="widget-subtitle ml-8">{{dashboard_quick_view.queue_total}}</span>
                    </div>
                </div>
                <!-- / Front -->

                <!-- Back -->
                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                            aria-label="Flip widget">
                        <mat-icon class="s-16">close</mat-icon>
                    </button>

                    <div>
                        There is currently a total of <b>{{dashboard_quick_view.queue_total}}</b> job(s) in the
                        queue:
                        <ul>
                            <li>Running: <b class="quick_view_bullet">{{dashboard_quick_view.queue_running}}</b></li>
                            <li>Queued: <b class="quick_view_bullet">{{dashboard_quick_view.queue_queued}}</b>
                            </li>
                            <li>Blocked: <b class="quick_view_bullet">{{dashboard_quick_view.queue_blocked}}</b></li>
                        </ul>
                    </div>
                </div>
                <!-- / Back -->

            </fuse-widget>
            <!-- / WIDGET WORKLOAD -->

            <!-- WIDGET NODES -->
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                <!-- Front -->
                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                         fxLayoutAlign="space-between center">
                        <div class="widget-title">Selected Cluster - Nodes</div>

                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                aria-label="more">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>

                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                        <div class="green-fg font-size-72 line-height-72">
                            {{dashboard_quick_view.nodes_available}}
                        </div>
                        <div class="widget-title font-weight-500">AVAILABLE NODES
                        </div>
                    </div>

                    <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="widget-subtitle text-truncate">
                                        Total Number of Nodes:
                                    </span>
                        <span class="widget-subtitle ml-8">{{dashboard_quick_view.nodes_total}}</span>
                    </div>
                </div>
                <!-- / Front -->

                <!-- Back -->
                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                            aria-label="Flip widget">
                        <mat-icon class="s-16">close</mat-icon>
                    </button>

                    <div>
                        There is currently a total of <b>{{dashboard_quick_view.nodes_total}}</b> nodes(s) in the
                        cluster:
                        <ul>
                            <li>Available: <b class="quick_view_bullet">{{dashboard_quick_view.nodes_available}}</b>
                            </li>
                            <li>Busy: <b class="quick_view_bullet">{{dashboard_quick_view.nodes_busy}}</b></li>
                            <li>Down: <b class="quick_view_bullet">{{dashboard_quick_view.nodes_down}}</b></li>
                        </ul>
                    </div>
                </div>
                <!-- / Back -->

            </fuse-widget>
            <!-- / WIDGET NODES -->

        </div>

        <mat-divider></mat-divider>

        <div class="fuse-card auto-width">

            <div class="position-relative p-24"
                 fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="start start">
                    <span class="h2">Selected Cluster - Workload & Nodes Progression</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                         (click)="progression_graph.chartType = 'line'"
                         [ngClass]="{'grey-200-bg': progression_graph.chartType === 'line'}">
                        <mat-icon>show_chart</mat-icon>
                    </div>
                    <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                         (click)="progression_graph.chartType = 'bar'"
                         [ngClass]="{'grey-200-bg': progression_graph.chartType === 'bar'}">
                        <mat-icon>bar_chart</mat-icon>
                    </div>
                </div>
            </div>

            <div class="position-relative h-368 pb-16">
                <canvas baseChart
                        [datasets]="workload_nodes_progression.data"
                        [labels]="progression_graph.labels"
                        [colors]="progression_graph.colors"
                        [options]="progression_graph.options"
                        [chartType]="progression_graph.chartType">
                </canvas>
            </div>

        </div>
    </div>

    <div class="timeline-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="30" fxFlex.gt-md="30">

        <div class="profile-box latest-activity" fxLayout="column">

            <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Latest Activity (global)</div>
                <!--<div class="more secondary-text">See All</div>-->
            </header>

            <div class="content" fxLayout="row wrap">
                <div class="activities">
                    <div class="activity" fxLayout="row" fxLayoutAlign="start start"
                         *ngFor="let activity of activities; let i=index">
                        <div class="activity-wrapper" *ngIf="i<10">
                            <img [src]="activity.title.icon" class="avatar" alt="{{activity.title.name}}"/>

                            <div fxLayout="column">
                                <div>
                                    <span class="job" *ngIf="activity.type=='job'" matTooltip="Show Details." (click)="openJobDetails(activity.title.name)">{{activity.title.name}}</span>
                                    <span class="activity_title" *ngIf="activity.type!='job'">{{activity.title.name}}</span>
                                    <span class="message"> {{activity.message}}</span>
                                </div>
                                <span class="time secondary-text">{{activity.time}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--<test-drive-workload></test-drive-workload>
<test-drive-nodes></test-drive-nodes>-->