<div class="sidebar-content">
    <div class="card">
        <div class="header-2 p-24" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="card-icon">cloud</mat-icon>
            <span>Cluster List</span>
        </div>

        <div class="content py-16" fusePerfectScrollbar>
            <div class="nav material2">
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('all')"
                       [ngClass]="{'active accent':filterBy === 'all'}">
                        <span class="title">All Clusters</span><div class="cluster-count">{{all_cluster_count}}</div>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('Amazon Web Services')"
                       [ngClass]="{'active accent':filterBy === 'Amazon Web Services'}">
                        <span class="title"><img class="provider-icon"
                                                 src="/assets/images/providers/Amazon Web Services.png"
                                                 [alt]="">Amazon Web Services</span><div class="cluster-count">{{aws_cluster_count}}</div>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('Google Cloud')"
                       [ngClass]="{'active accent':filterBy === 'Google Cloud'}">
                        <span class="title"><img class="provider-icon"
                                                 src="/assets/images/providers/Google Cloud.png"
                                                 [alt]="">Google Cloud</span><div class="cluster-count">{{google_cluster_count}}</div>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('Huawei Cloud')"
                       [ngClass]="{'active accent':filterBy === 'Huawei Cloud'}">
                        <span class="title"><img class="provider-icon"
                                                 src="/assets/images/providers/Huawei Cloud.png"
                                                 [alt]="">Huawei Cloud</span><div class="cluster-count">{{huawei_cluster_count}}</div>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('Microsoft Azure')"
                       [ngClass]="{'active accent':filterBy === 'Microsoft Azure'}">
                        <span class="title"><img class="provider-icon"
                                                 src="/assets/images/providers/Microsoft Azure.png"
                                                 [alt]="">Microsoft Azure</span><div class="cluster-count">{{azure_cluster_count}}</div>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('Open Telekom Cloud')"
                       [ngClass]="{'active accent':filterBy === 'Open Telekom Cloud'}">
                        <span class="title"><img class="provider-icon"
                                                 src="/assets/images/providers/Open Telekom Cloud.png"
                                                 [alt]="">Open Telekom Cloud</span><div class="cluster-count">{{otc_cluster_count}}</div>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('Oracle Cloud')"
                       [ngClass]="{'active accent':filterBy === 'Oracle Cloud'}">
                        <span class="title"><img class="provider-icon"
                                                 src="/assets/images/providers/Oracle Cloud.png"
                                                 [alt]="">Oracle Cloud</span><div class="cluster-count">{{oracle_cluster_count}}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>