<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="position-relative p-12" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="start start">
            Configuration:
        </div>

        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                 (click)="stack_view = 'list'"
                 [ngClass]="{'grey-200-bg': stack_view === 'list'}" matTooltip="List View.">
                <mat-icon>list</mat-icon>
            </div>
            <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                 (click)="stack_view = 'code'"
                 [ngClass]="{'grey-200-bg': stack_view === 'code'}" matTooltip="Object View.">
                <mat-icon>code</mat-icon>
            </div>
        </div>
    </div>

    <mat-divider class="custom-divider"></mat-divider>

    <div *ngIf="stack_view=='list'" mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form name="stackDetailsForm" [formGroup]="stackDetailsForm"
              class="event-form w-100-p" fxLayout="column" fxFlex>
            <mat-form-field>
                <input class="custom-field" matInput formControlName="stackName" placeholder="Name" readonly>
            </mat-form-field>

            <mat-form-field>
                <input class="custom-field" matInput formControlName="stackVersion" placeholder="Version" readonly>
            </mat-form-field>

            <mat-form-field>
                <input class="custom-field" matInput formControlName="stackImage" placeholder="Image" readonly>
                <div class="task-item" fxLayout="row">

                </div>
            </mat-form-field>

            <mat-form-field>
                <input class="custom-field" matInput formControlName="stackFiles" placeholder="Files" readonly>
            </mat-form-field>

            <mat-form-field>
                <input class="custom-field" matInput formControlName="stackBootstrap" placeholder="Bootstrap Script"
                       readonly>
            </mat-form-field>

            <mat-form-field>
                <input class="custom-field" matInput formControlName="stackTasks" placeholder="Tasks" readonly>
                <div *ngFor="let task of this.stack.data.tasks; let i = index">
                    <div class="task-title">Task {{i + 1}}:</div>
                    <div class="task-item" fxLayout="row">
                        <div class="task-list-key">Type:</div>
                        <div class="task-list-value">{{task.type}}</div>
                    </div>
                    <div *ngIf="task.type=='file'" class="task-item" fxLayout="row">
                        <div class="task-list-key">Source:</div>
                        <div class="task-list-value">{{task.source}}</div>
                    </div>
                    <div *ngIf="task.type=='file'" class="task-item" fxLayout="row">
                        <div class="task-list-key">Destination:</div>
                        <div class="task-list-value">{{task.destination}}</div>
                    </div>
                    <div *ngIf="task.type=='shell'" class="task-item" fxLayout="row">
                        <div class="task-list-key">Inline:</div>
                        <div class="task-list-value">
                            <div *ngFor="let command of task.inline" class="task-code">{{command}}</div>
                        </div>
                    </div>
                </div>
            </mat-form-field>

        </form>

    </div>

    <div *ngIf="stack_view=='code'" mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <pre><code>{{stack.data | json}}</code></pre>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    </div>
</div>
