@import "src/@fuse/scss/fuse";

.stack-details-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('m') {
        min-width: 680px;
        max-width: 800px;
        width: 800px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 78vh;
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    font-weight: 150;
    color: #e53935;
}

.custom-divider {
    margin: 0 10px 10px 10px;
}

.custom-field {
    pointer-events: none;
}

.task-title {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.task-item {
    margin: 2px 0px 2px 10px;
}

.task-list-key {
    font-size: 12px;
    opacity: 0.6;
    min-width: 120px;
}

.task-list-value {
    font-size: 14px;
}

.task-code {
    font-style: italic;
}
