<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <div class="avatar-wrapper" fxflex="0 1 auto" fxlayoutalign="center center"
                 style="place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex; flex: 0 1 auto;">
                <img class="avatar contact-avatar huge m-0" [src]="user.avatar" [alt]="user.name">
                <!--<button mat-icon-button class="edit-profile-picture" matTooltip="Edit Profile Picture." (click)="fileInput.click()">
                    <mat-icon class="edit-profile-picture-icon" aria-label="EDIT PROFILE PICTURE">edit</mat-icon>
                    <input style="display: none" type="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" (change)="onFileSelected($event)" #fileInput>
                </button>-->
            </div>
            <div class="contact-name mt-8">{{user.name}} {{user.lastName}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form [formGroup]="profileForm">

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">account_circle</mat-icon>
                    <input name="id" formControlName="id" matInput required placeholder="Username">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">account_circle</mat-icon>
                    <input name="name" formControlName="name" placeholder="Name" matInput required>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">account_circle</mat-icon>
                    <input name="lastName" formControlName="lastName" placeholder="Lastname" matInput>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">domain</mat-icon>
                    <input name="company" formControlName="company" matInput placeholder="Company">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">work</mat-icon>
                    <input name="jobTitle" formControlName="jobTitle" matInput placeholder="Job title">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">email</mat-icon>
                    <input name="email" formControlName="email" matInput type="email" placeholder="Email">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">phone</mat-icon>
                    <input formControlName="phone" matInput placeholder="Phone number">
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button
            mat-raised-button
            (click)="updateProfileInformation()"
            class="save-button mat-accent"
            [disabled]="profileForm.invalid"
            aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action ==='edit'"
                mat-icon-button
                (click)="deleteProfile()"
                aria-label="Delete"
                matTooltip="Delete Account.">
            <mat-icon class="ml-8 primary-400-fg">delete_forever</mat-icon>
        </button>

    </div>
</div>
