@import "src/@fuse/scss/fuse";

.profile-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('m') {
        width: 400px;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .edit-profile-picture {
        height: 20px;
        width: 20px;
        cursor: pointer;
        position: absolute;
        top: 75px;
        left: 70px;
        background-color: rgba(117, 117, 117, 1);
    }

    .edit-profile-picture-icon {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 12px;
        padding: 0;
        margin: -1px 0 0 -1px;
    }
}
