@import "src/@fuse/scss/fuse";

stacks-list {
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    .mat-table {
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 8px;

            .mat-cell {
                min-width: 0;
            }
        }
    }

    .stack-icon {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    .provider-state {

    }

    .Online:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .stack-options-button {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .stack-available {
        cursor: pointer;
    }

    .stack-detail {
        overflow: hidden;
        display: flex;
        margin: 10px;
        cursor: default;
    }

    tr.stack-details-row {
        height: 0;
    }

    .on-demand-notifier {
        margin-bottom: 20px;
    }

    .stack-details-subtitle {
        margin-bottom: 10px;
    }

    .nodes-list-row {
        cursor: help;
    }
}