<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}} - Progress</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div style="margin: 20px 20px 10px 20px;">
        <div class="progress-intro">Tasks:
        </div>
        <mat-divider></mat-divider>
    </div>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <mat-vertical-stepper #progressview>
            <div *ngFor="let task of tasks">
                <mat-step [completed]="task.state=='Complete'" [hasError]="task.state=='Error'">
                    <ng-template matStepLabel>{{task.title}}
                        <div class="task-time">
                            <div *ngIf="task.state=='Pending'">{{task.state}}</div>
                            <div *ngIf="task.state=='Active'">{{(date - task.start_time) / 1000 | secondsToDateTime}}
                            </div>
                            <div *ngIf="task.state=='Complete'">{{(task.end_time -
                                task.start_time) / 1000 | secondsToDateTime}}
                            </div>
                            <div *ngIf="task.state=='Error'">{{(task.end_time - task.start_time) / 1000 |
                                secondsToDateTime}}
                            </div>
                        </div>
                    </ng-template>
                    <div>
                        <div
                            *ngIf="!(task.state=='Active' && (task.progress_type=='determinate' || task.progress_type=='steps'))">
                            {{task.status}}
                        </div>
                        <div *ngIf="task.state=='Active' && task.progress_type=='determinate'">
                            {{task.progress}}%
                        </div>
                        <div *ngIf="task.state=='Active' && task.progress_type=='steps'">{{task.current_step +
                            1}} / {{task.steps.length}}
                        </div>
                        <mat-progress-bar *ngIf="task.state=='Active' && task.progress_type=='indeterminate'"
                                          mode="indeterminate"
                                          color="accent"></mat-progress-bar>
                        <mat-progress-bar *ngIf="task.state=='Active' && task.progress_type=='determinate'"
                                          mode="determinate" color="accent"
                                          [value]="task.progress"></mat-progress-bar>
                        <mat-horizontal-stepper *ngIf="task.state=='Active' && task.progress_type=='steps'"
                                                labelPosition="bottom" [selectedIndex]="task.current_step">
                            <mat-step *ngFor="let step of task.steps" [completed]="step.state=='done'">
                                <ng-template matStepLabel>{{step.label}}</ng-template>
                            </mat-step>
                            <ng-template matStepperIcon="edit">
                                <mat-icon style="margin-top: 4px; margin-left: 4px;">check</mat-icon>
                            </ng-template>
                        </mat-horizontal-stepper>
                    </div>
                </mat-step>
            </div>
            <ng-template matStepperIcon="edit">
                <mat-icon style="margin-top: 4px; margin-left: 4px;">check</mat-icon>
            </ng-template>
        </mat-vertical-stepper>


        <!--<mat-divider></mat-divider>


        <div *ngFor="let task of tasks">

            <mat-card class="progress-card" tabindex="0">
                <mat-card-header class="progress-header">
                    <mat-card-title class="progress-title">{{task.title}}</mat-card-title>
                    <mat-icon *ngIf="task.state=='Complete'" class="icon-complete">done
                    </mat-icon>
                    <mat-icon *ngIf="task.state=='Error'" class="icon-failure">report_problem
                    </mat-icon>
                    <mat-card-subtitle
                        *ngIf="!(task.state=='Active' && (task.progress_type=='determinate' || task.progress_type=='steps'))">
                        {{task.status}}
                    </mat-card-subtitle>
                    <mat-card-subtitle *ngIf="task.state=='Active' && task.progress_type=='determinate'">
                        {{task.progress}}%
                    </mat-card-subtitle>
                    <mat-card-subtitle *ngIf="task.state=='Active' && task.progress_type=='steps'">{{task.current_step +
                        1}} / {{task.steps.length}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="progress-content">
                    <mat-progress-bar *ngIf="task.state=='Active' && task.progress_type=='indeterminate'"
                                      mode="indeterminate"
                                      color="accent"></mat-progress-bar>
                    <mat-progress-bar *ngIf="task.state=='Active' && task.progress_type=='determinate'"
                                      mode="determinate" color="accent"
                                      [value]="task.progress"></mat-progress-bar>
                    <mat-horizontal-stepper *ngIf="task.state=='Active' && task.progress_type=='steps'"
                                            labelPosition="bottom" [selectedIndex]="task.current_step">
                        <mat-step *ngFor="let step of task.steps" [completed]="step.state=='done'">
                            <ng-template matStepLabel>{{step.label}}</ng-template>
                        </mat-step>
                        <ng-template matStepperIcon="edit">
                            <mat-icon style="margin-top: 4px; margin-left: 4px;">check</mat-icon>
                        </ng-template>
                    </mat-horizontal-stepper>

                    <button *ngIf="task.state=='Complete' || task.state=='Error'" mat-raised-button class="mat-accent">
                        VIEW LOGS
                    </button>
                </mat-card-content>
            </mat-card>
        </div>-->
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <!--<button
            mat-raised-button
            (click)="openCloudProviderForm()"
            class="next-button mat-accent"
            id="next-button"
            aria-label="CONTINUE">
            CONTINUE
        </button>-->
    </div>
</div>
