@import "src/@fuse/scss/fuse";

.task-progress {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('m') {
        min-width: 680px;
        max-width: 970px;
        width: 970px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }

    h1 {
        margin-bottom: 30px;
    }

    .progress-intro {
        margin-bottom: 20px;
    }

    .progress-card{
        border: 0.1px solid rgba(3, 155, 229, 1);
        margin-top: 40px;
        margin-bottom: 7px;
    }

    .progress-header {
        display: flex;
        justify-content: space-between;
    }

    .progress-title {
        font-weight: bold;
    }

    .progress-content {
        margin: 10px;
    }

    .progress-image {
        height: 20px;
        width: 20px;
    }

    .icon-complete {
        color: darkgreen;
    }

    .icon-failure {
        color: darkred;
    }

    .mat-horizontal-stepper-header{
        pointer-events: none !important;
    }

    .task-time {
        position: absolute;
        right: 10%;
        top: 36%;
    }
}