@import "src/@fuse/scss/fuse";

#processes {

   .header {
       .search-wrapper {
           width: 100%;
           max-width: 480px;
           border-radius: 8px;
           overflow: hidden;
           @include mat-elevation(1);

           .search {
               width: 100%;
               height: 40px;
               line-height: 40px;


               input {
                   width: 100%;
                   height: 40px;
                   min-height: 40px;
                   max-height: 40px;

               }
           }
       }

       .return-dashboard {
           float: right;
       }

       .return-dashboard:hover {
           cursor: pointer;
       }
   }

    .content {
        overflow: hidden;

        .sidebar {
            &:not(.locked-open) {
                background: white;
            }
        }
    }
}