<div id="processes" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <div class="header primary p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16">repeat</mat-icon>
                <span class="logo-text h1">Processes</span>
                <span class="logo-text return-dashboard" (click)="openDashboard()">Return to Dashboard <mat-icon style="font-size: 14px;">keyboard_return</mat-icon></span>
            </div>
        </div>

        <div style="margin-top: 10px;" fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div class="search-wrapper mt-16 mt-sm-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">

                    <input [formControl]="searchInput" placeholder="Search for a process">
                </div>
            </div>
        </div>


    </div>

    <div class="content">
        <div class="content" fusePerfectScrollbar>
            <process-sidebar></process-sidebar>
        </div>

        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <div class="content">
                <process-list></process-list>
            </div>
        </div>
    </div>

</div>