@import "src/@fuse/scss/fuse";

.notification {

}

.warning {
    background: darkred;
}

#test-drive {

    .header {
        height: 200px;
        min-height: 200px;
        max-height: 200px;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
        background-size: cover;

        .profile-image {
            margin-right: 24px;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 0 8px;
            }
        }

        .selected-cluster {
            background: rgba(0, 0,0, 0.12);
            color: #FFFFFF;
            padding: 8px 16px;
            height: 40px;
            line-height: 24px;
            font-size: 16px;
            border-radius: 8px 0 0 0;
        }

        .cluster-selector {
            margin-left: 1px;
            background: rgba(0,0,0,0.12);
            border-radius: 0 8px 0 0;
            mat-icon {
                color: #FFFFFF;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
}









// NOTIFIER: CORE STYLES

// Container

.notifier {

    &__container {

        * {
            box-sizing: border-box;
        }

        &-list {
            margin: {
                top: 0;
                bottom: 0;
            }
            padding: {
                left: 0;
            }
            list-style-type: none;
        }

    }

    &__notification {
        display: block;
        position: fixed; // Overlay
        visibility: hidden; // Notifications are hidden by default, and get shown (or animated in) dynamically by the Angular component
        z-index: 10000; // Pretty much random ...

        // This attribute forces this element to be rendered on a new layer, by the GPU, in order to improve its performance (#perfmatters)
        will-change: transform;

        // This attribute improves the overall scrolling performance for fixed position elements, such as this one (#perfmatters)
        // See <https://benfrain.com/improving-css-performance-fixed-position-elements/>
        backface-visibility: hidden;

    }

}


// NOTIFIER: MATERIAL THEME
//
// This material theme tries its best to look as material-design'ish as possible - round edges, shadows, and small animations.
// And, of course, thanks to #Google for creating and sharing such an awesome design language!
// I highly encourage everyone to read into the Material Design specs: <https://material.google.com/>

$notifier-shadow-color: rgba(0, 0, 0, .2) !default;

.notifier__notification--material {
    border-radius: 3px;
    box-shadow: 0 1px 3px $notifier-shadow-color;
    cursor: default; // Default cursor, even when hovering over text
    padding: {
        top: 11px;
        right: 26px;
        bottom: 10px;
        left: 26px;
    }

    .notifier__notification {

        &-message {
            display: inline-block;
            margin: { // Reset paragraph default styles
                top: 0;
                bottom: 0;
            }
            vertical-align: top;
            line-height: 32px;
            font-size: 15px;
        }

        &-button {
            display: inline-block;
            transition: opacity .2s ease;
            opacity: .5;
            margin: {
                right: -10px;
                left: 10px;
            };
            outline: none;
            border: none;
            background: none;
            cursor: pointer; // Make it obvious that the "button" (or, more honestly, icon) is clickable (#UX)
            padding: 6px;
            width: 32px;
            height: 32px;
            vertical-align: top;

            &:hover,
            &:focus {
                opacity: 1; // Make me "feel" the clickability with a transparency change (#UX)
            }

            &:active {
                transform: scale(.82); // Make me "feel" the click by a push back (#UX)
                opacity: 1;
            }

        }

    }

}

.mat-accent-bg {
    background-color: rgba(3, 169, 244, 1);
    color: white;
    padding: 5px;
    min-width: 240px;
}

.mat-warning-bg {
    background-color: darkred;
    color: white;
    padding: 5px;
    min-width: 240px;
}

.notification-title {
    margin-left: 10px;
    font-size: 16px;
}

.notification-subtitle {
    margin-top: 10px;
    margin-left: 10px;
    font-style: italic;
}

.notification-message {
    margin: 0 10px 10px 10px;
}

.notifier__notification--default {
    background-color: #FFF;
    border: 2px solid rgb(3, 169, 244);
    padding: 0;
}

.notifier__notification--warning {
    background-color: #FFF;
    border: 2px solid darkred;
    padding: 0;
}