<div id="test-drive" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <img class="profile-image avatar huge" src="assets/images/logos/nodus.png"
                 [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <div>
                <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">NODUS Cloud Platform
                </div>
                <div fxLayout="row">
                    <div class="selected-cluster" *ngIf="!selected_cluster.id">- No Cluster Selected -</div>
                    <div class="selected-cluster" *ngIf="selected_cluster.name && selected_cluster.state == 'Online'">
                        {{selected_cluster.name}} ({{selected_cluster.provider}})
                    </div>
                    <button mat-icon-button class="cluster-selector" [matMenuTriggerFor]="clusterDropDown"
                            aria-label="Select Cluster">
                        <mat-icon>more_horiz</mat-icon>
                    </button>

                    <mat-menu #clusterDropDown="matMenu">
                        <div *ngFor="let cluster of available_clusters">
                            <button *ngIf="cluster.state == 'Online'" mat-menu-item (click)="selectCluster(cluster)">
                                <span>{{cluster.name}}</span>
                            </button>
                        </div>
                    </mat-menu>
                </div>
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <!--<button mat-raised-button (click)="defaultNotification()" color="accent" aria-label="Test Notification">Default
                Notification
            </button>
            <button mat-raised-button (click)="warningNotification()" color="accent" aria-label="Test Notification">Warning
                Notification
            </button>-->
            <button mat-raised-button (click)="submitJob()" color="accent" aria-label="Submit Job">Submit Job</button>
            <button mat-raised-button (click)="openClusterManagement()" color="primary"
                    aria-label="Open Cluster Management">Cluster Management
            </button>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Dashboard">
                <test-drive-home></test-drive-home>
            </mat-tab>

            <mat-tab label="Queue">
                <workload></workload>
            </mat-tab>

            <mat-tab label="Nodes">
                <nodes></nodes>
            </mat-tab>

            <!--<mat-tab label="Stacks">
                <stacks></stacks>
            </mat-tab>-->

            <mat-tab label="Configuration">
                <test-drive-configuration></test-drive-configuration>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>


<notifier-container></notifier-container>


<ng-template #customNotificationDefault1>
    <header class="mat-accent-bg" fxLayout="row">
        <mat-icon>{{notification.icon}}</mat-icon>
        <div class="notification-title">{{notification.title}}</div>
    </header>
    <div class="notification-subtitle">{{notification.subtitle}}</div>
    <div class="notification-message">
        {{notification.message}}
    </div>
    <button class="notification-button" *ngFor="let action of notification.actions">
        {{action.title}}
    </button>
</ng-template>

<ng-template #customNotificationWarning1>
    <header class="mat-warning-bg" fxLayout="row">
        <mat-icon>{{notification.icon}}</mat-icon>
        <div class="notification-title">{{notification.title}}</div>
    </header>
    <div class="notification-subtitle">{{notification.subtitle}}</div>
    <div class="notification-message">
        {{notification.message}}
    </div>
    <button class="notification-button" *ngFor="let action of notification.actions">
        {{action.title}}
    </button>
</ng-template>

<ng-template #customNotificationDefault2>
    <header class="mat-accent-bg" fxLayout="row">
        <mat-icon>{{notification_2.icon}}</mat-icon>
        <div class="notification-title">{{notification_2.title}}</div>
    </header>
    <div class="notification-subtitle">{{notification_2.subtitle}}</div>
    <div class="notification-message">
        {{notification_2.message}}
    </div>
    <button class="notification-button" *ngFor="let action of notification_2.actions">
        {{action.title}}
    </button>
</ng-template>

<ng-template #customNotificationWarning2>
    <header class="mat-warning-bg" fxLayout="row">
        <mat-icon>{{notification_2.icon}}</mat-icon>
        <div class="notification-title">{{notification_2.title}}</div>
    </header>
    <div class="notification-subtitle">{{notification_2.subtitle}}</div>
    <div class="notification-message">
        {{notification_2.message}}
    </div>
    <button class="notification-button" *ngFor="let action of notification_2.actions">
        {{action.title}}
    </button>
</ng-template>

<ng-template #customNotificationDefault3>
    <header class="mat-accent-bg" fxLayout="row">
        <mat-icon>{{notification_3.icon}}</mat-icon>
        <div class="notification-title">{{notification_3.title}}</div>
    </header>
    <div class="notification-subtitle">{{notification_3.subtitle}}</div>
    <div class="notification-message">
        {{notification_3.message}}
    </div>
    <button class="notification-button" *ngFor="let action of notification_3.actions">
        {{action.title}}
    </button>
</ng-template>

<ng-template #customNotificationWarning3>
    <header class="mat-warning-bg" fxLayout="row">
        <mat-icon>{{notification_3.icon}}</mat-icon>
        <div class="notification-title">{{notification_3.title}}</div>
    </header>
    <div class="notification-subtitle">{{notification_3.subtitle}}</div>
    <div class="notification-message">
        {{notification_3.message}}
    </div>
    <button class="notification-button" *ngFor="let action of notification_3.actions">
        {{action.title}}
    </button>
</ng-template>
