<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <div class="title-name">Hello {{user.name}},</div>
        <h1>Welcome to NODUS 3.0!</h1>
        <p>This is your cluster management view. Here you will see a list of all your current clusters. You can easily
            deploy and destroy clusters as well as submit jobs to either an existing cluster or an on-demand
            cluster. <br><br>
            When a cluster is "Online", click on the cluster entry in the list to see the dashboard view with more
            detailed information specific to the cluster.</p>
        <br>
        <mat-checkbox id="showWelcomeScreen" formControlName="showWelcomeScreen" labelPosition="before"
                      class="form-footer">Don't show this message again:
        </mat-checkbox>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <button
            mat-raised-button
            (click)="openCloudProviderForm()"
            class="next-button mat-accent"
            id="next-button"
            aria-label="CONTINUE">
            CLOSE
        </button>
    </div>
</div>
