<div id="workload" class="page-layout simple left-sidebar inner-sidebar">
    <div class="content">
        <div class="content" fusePerfectScrollbar>
            <workload-sidebar></workload-sidebar>
        </div>

        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <div class="content">
                <workload-list></workload-list>
            </div>
        </div>
    </div>
</div>