<div class="sidebar-content">
    <div class="card">
        <div class="header-2 p-24" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="card-icon">list_alt</mat-icon>
            <span>Workload List</span>
        </div>

        <div class="content py-16" fusePerfectScrollbar>
            <div class="nav material2">
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('all')"
                       [ngClass]="{'active accent':filterBy === 'all'}">
                        <span class="title">All Jobs</span>
                        <div class="workload-count">{{all_jobs_count}}</div>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('Running')"
                       [ngClass]="{'active accent':filterBy === 'Running'}">
                        <span class="title"><mat-icon class="state-icon">work_outline</mat-icon><div
                            class="state-title">Running</div></span>
                        <div class="workload-count">{{running_jobs_count}}</div>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('Queued')"
                       [ngClass]="{'active accent':filterBy === 'Queued'}">
                        <span class="title"><mat-icon class="state-icon">queue</mat-icon><div class="state-title">Queued</div></span>
                        <div class="workload-count">{{queued_jobs_count}}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>