@import "src/@fuse/scss/fuse";

:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
    width: 16vw;

    .header-2 {
        height: 20px;
    }

    .sidebar-content {
        display: flex;
        flex-direction: column;
        padding: 0;

        @include media-breakpoint(gt-sm) {
            padding: 24px 4px 24px 24px;
        }

        .card {
            display: flex;
            flex-direction: column;
            flex: 0 1 auto;
            padding: 0;
            border-radius: 8px;
            background-color: white;

            .card-icon {
                padding-top: 4px;
                margin-right: 5px;
                font-size: 16px;
            }

            @include media-breakpoint(gt-sm) {
                @include mat-elevation(1);
            }

            > .header-2 {
                flex: 0 1 auto;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            }

            > .content {
                flex: 0 1 auto;
            }
        }
    }

    .state-icon {
        position: absolute;
        bottom: 6px;
        font-size: 18px;
    }

    .state-title {
        margin-left: 30px;
    }

    .title {
        margin-right: 40px;
    }

    .stack-count {
        display: inline-flex;
        position: absolute;
        right: 15px;
    }
}