<div class="sidebar-content">
    <div class="card">
        <div class="header-2 p-24" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="card-icon">list_alt</mat-icon>
            <span>Stack List</span>
        </div>

        <div class="content py-16" fusePerfectScrollbar>
            <div class="nav material2">
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('all')"
                       [ngClass]="{'active accent':filterBy === 'all'}">
                        <span class="title">All Stacks</span>
                        <div class="stack-count">{{all_stacks_count}}</div>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('Available')"
                       [ngClass]="{'active accent':filterBy === 'Available'}">
                        <span class="title"><mat-icon class="state-icon">event_available</mat-icon><div
                            class="state-title">Available</div></span>
                        <div class="stack-count">{{available_stacks_count}}</div>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('Deployed')"
                       [ngClass]="{'active accent':filterBy === 'Deployed'}">
                        <span class="title"><mat-icon class="state-icon">event</mat-icon><div class="state-title">Deployed</div></span>
                        <div class="stack-count">{{deployed_stacks_count}}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>