<div id="server-manager" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg header"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/nodus-cloud-platform/nodes'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="provider-image" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img [src]="selected_node.icon">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{selected_node.name}}
                    </div>
                    <div class="subtitle">
                        <span>{{selected_node.cluster}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">
            <server-manager-details-content></server-manager-details-content>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>

<!-- HEADER -->
<!--<div *ngIf="viewState == 'default'" class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
     fxLayoutAlign.gt-sm="space-between end">

    <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="start center">
        <img class="profile-image avatar huge" src="assets/images/logos/nodus.png"
             [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        <div>
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">NODUS Cloud Platform
            </div>
            <div fxLayout="row">
                <div class="selected-cluster" *ngIf="!selected_node.name">- No Node Selected -</div>
                <div class="selected-cluster" *ngIf="selected_node.name">
                    {{selected_node.name}} ({{selected_node.cluster}})
                </div>
                <mat-menu #clusterDropDown="matMenu">
                    <div *ngFor="let cluster of available_clusters">
                        <button *ngIf="cluster.state == 'Online'" mat-menu-item (click)="selectCluster(cluster)">
                            <span>{{cluster.name}}</span>
                        </button>
                    </div>
                </mat-menu>
            </div>
        </div>
    </div>

    <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
        <button mat-raised-button (click)="openClusterManagement()" color="primary"
                aria-label="Open Cluster Management">Cluster Management
        </button>
    </div>

</div>-->
<!-- / HEADER -->

<!-- CONTENT -->
<!--<div class="content">
    <server-manager-dashboard></server-manager-dashboard>-->

<!--<mat-tab-group dynamicHeight="true">

    <mat-tab label="Dashboard">

    </mat-tab>

</mat-tab-group>-->

<!--</div>-->
<!-- / CONTENT -->

<!--</div>-->