@import "src/@fuse/scss/fuse";

.notification {

}

.warning {
    background: darkred;
}

#server-manager {

    .header {
        height: 200px;
        min-height: 200px;
        max-height: 200px;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
        background-size: cover;

        color: white;


        .provider-image {
            overflow: hidden;
            width: 56px;
            height: 56px;
            border-radius: 5px;
            border: 3px solid rgba(0, 0, 0, 0.12);
            margin-right: 10px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
            opacity: 0.6;
        }


        .profile-image {
            margin-right: 24px;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 0 8px;
            }
        }

        .selected-cluster {
            background: rgba(0, 0, 0, 0.12);
            color: #FFFFFF;
            padding: 8px 16px;
            height: 40px;
            line-height: 24px;
            font-size: 16px;
            border-radius: 8px 0 0 0;
        }

        .cluster-selector {
            margin-left: 1px;
            background: rgba(0, 0, 0, 0.12);
            border-radius: 0 8px 0 0;

            mat-icon {
                color: #FFFFFF;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }

    // Profile boxes
    .profile-box {
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {

            height: 60px;
            max-height: 60px;

            .title {
                padding-left: 20px;
                padding-top: 25px;
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                }

                .subcontent {
                    margin-left: 20px;
                }

                .subtitle {
                    margin-top: 10px;
                }

                .info {

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .mat-accent-bg {
        background-color: rgba(3, 169, 244, 1);
        color: white;
    }

    .card-template {
        margin: 5px;
    }
}