@import "src/@fuse/scss/fuse";

workload-list {
    display: flex;
    flex: 1 1 auto;
    width: 55vw;

    .mat-table {
        width: 75vw;
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            padding: 8px;

            .mat-cell {
                min-width: 0;
            }
        }
    }

    .id-column {
        font-weight: bold;
    }

    .Q {
        font-style: italic;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .R {
        color: darkgreen;
        font-style: italic;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .Canceling {
        color: darkred;
        font-style: italic;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}