<div class="dialog-content-wrapper" style="width: 100%">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc"
           multiTemplateDataRows>
        <!-- Job ID Column -->
        <ng-container matColumnDef="job_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Job ID</th>
            <td mat-cell *matCellDef="let workload" class="id-column">{{workload.Job_Name}}</td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
            <td mat-cell *matCellDef="let workload" [class]="workload.job_state">
                <div *ngIf="workload.job_state=='R'">Running</div>
                <div *ngIf="workload.job_state=='Q'">Queued</div>
            </td>
        </ng-container>

        <!-- Queue Time Column -->
        <ng-container matColumnDef="submit_time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Queue Time</th>
            <td mat-cell *matCellDef="let workload">{{workload.qtime * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
        </ng-container>

        <!-- Start Time Column -->
        <ng-container matColumnDef="start_time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
            <td mat-cell *matCellDef="let workload">{{workload.start_time * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
        </ng-container>

        <!-- Executing Node Column -->
        <ng-container matColumnDef="compute_node">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Executing Node(s)</th>
            <td mat-cell *matCellDef="let workload">
                <div *ngIf="workload.exec_host">
                    <div *ngFor="let host of workload.exec_host.split('+')">{{host.split('/0')[0]}}</div>
                </div>
                <div *ngIf="!workload.exec_host"></div>
            </td>
        </ng-container>

        <!-- Buttons Column -->
        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let workload">
                <div fxFlex="row" fxLayoutAlign="end center">

                    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                            (click)="$event.stopPropagation();">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>

                    <mat-menu #moreMenu="matMenu">
                        <button mat-menu-item aria-label="remove" (click)="cancelJob(workload)">
                            <mat-icon>delete_forever</mat-icon>
                            <span>Cancel</span>
                        </button>
                    </mat-menu>
                </div>
            </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let workload; columns: displayedColumns;">
        </tr>
    </table>
</div>