@import "src/@fuse/scss/fuse";

.logs-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('m') {
        width: 1024px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }

    h1 {
        margin-bottom: 30px;
    }
}
