<div id="stacks" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <img class="profile-image avatar huge" src="assets/images/logos/nodus.png"
                 [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <div>
                <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">NODUS Cloud Platform
                </div>
                <div fxLayout="row">
                    <div class="search-wrapper mt-16 mt-sm-0">
                        <div class="search">
                            <input [formControl]="searchInput" placeholder="Search for a stack">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button mat-raised-button (click)="openClusterManagement()" color="primary" aria-label="Cluster Management">
                Cluster Management
            </button>
        </div>

    </div>
    <!-- / HEADER -->
    <div class="content">
        <div class="content" fusePerfectScrollbar>
            <stacks-sidebar></stacks-sidebar>
        </div>

        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <div class="content">
                <stacks-list></stacks-list>
            </div>
        </div>
    </div>

</div>