quick-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 280px;
    min-width: 280px;
    max-width: 280px;
    z-index: 99;

    .mat-slide-toggle-content {
        flex: 1;
    }
}

.notification {

}

.notifications-list {

}

.notification-subtitle {
    opacity: 0.6;
}

.notification-date {
    font-style: italic;
    opacity: 0.6;
}

.notification-button {
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: rgba(3, 169, 244, 1);
}