<mat-list class="date" cdkFocusRegionStart>

    <h3 matSubheader cdkFocusInit>
        <span>Today</span>
    </h3>

    <div class="secondary-text mat-display-1 mb-0 p-16">
        <div class="mb-12">
            {{date | date:'EEEE'}}
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <span> {{date | date:'d'}}</span>
            <span *ngIf="(date | date:'d')!='1' && (date | date:'d')!='21'  && (date | date:'d')!='31' && (date | date:'d')!='2' && (date | date:'d')!='22' && (date | date:'d')!='3' && (date | date:'d')!='23'" class="mat-subheading-1">th</span>
            <span *ngIf="(date | date:'d')=='1' || (date | date:'d')=='21' || (date | date:'d')=='31'" class="mat-subheading-1">st</span>
            <span *ngIf="(date | date:'d')=='2' || (date | date:'d')=='22'" class="mat-subheading-1">nd</span>
            <span *ngIf="(date | date:'d')=='3' || (date | date:'d')=='23'" class="mat-subheading-1">rd</span>
            <span> {{date | date:'MMMM'}}</span>
        </div>
    </div>
</mat-list>

<mat-divider cdkFocusRegionEnd></mat-divider>

<!--<mat-list>
    <h3 matSubheader>
        <span>Events</span>
    </h3>

    <mat-list-item *ngFor="let event of events">
        <h3 matLine>{{event.title}}</h3>
        <p matLine class="secondary-text">{{event.detail}}</p>
    </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list>
    <h3 matSubheader>
        <span>Notes</span>
    </h3>

    <mat-list-item *ngFor="let note of notes">
        <h3 matLine>{{note.title}}</h3>
        <p matLine class="secondary-text">{{note.detail}}</p>
    </mat-list-item>
</mat-list>-->

<mat-divider></mat-divider>

<mat-list>
    <h3 matSubheader>
        <span>Quick Settings</span>
    </h3>

    <mat-list-item>
        <mat-slide-toggle fxFlex class="mat-primary" [(ngModel)]="settings.notify" aria-label="Notifications"
                          labelPosition="before" (click)="updateNotificationSettings()">
            <h3>Notifications</h3>
        </mat-slide-toggle>
    </mat-list-item>

    <!--<mat-list-item>
        <mat-slide-toggle fxFlex class="mat-accent" [(ngModel)]="settings.cloud" aria-label="Cloud"
                          labelPosition="before">
            <h3>Cloud Sync</h3>
        </mat-slide-toggle>
    </mat-list-item>

    <mat-list-item>
        <mat-slide-toggle fxFlex class="mat-warn" [(ngModel)]="settings.retro" aria-label="Retro Thrusters"
                          labelPosition="before">
            <h3>Retro Thrusters</h3>
        </mat-slide-toggle>
    </mat-list-item>-->
</mat-list>

<mat-divider></mat-divider>

<mat-list>
    <h3 matSubheader>
        <span>Notification History</span>
    </h3>

    <div class="notifications-list" fusePerfectScrollbar>
        <div *ngFor="let notification of notifications">
            <mat-list-item class="notification">
                <mat-icon matListIcon>{{notification.icon}}</mat-icon>
                <h3 matLine>{{notification.title}}</h3>
                <div matLine class="notification-subtitle">
                    {{notification.subtitle}}
                </div>
                <div matLine [matTooltip]="notification.message">
                    {{notification.message}}
                </div>
                <button matLine class="notification-button" *ngFor="let action of notification.actions">
                        {{action.title}}
                </button>
                <div matLine class="notification-date">
                    {{notification.date}}
                </div>
            </mat-list-item>
        </div>
    </div>

</mat-list>