@import "src/@fuse/scss/fuse";

.notification {

}

.warning {
    background: darkred;
}

#server-manager-dashboard {

    .header {
        height: 200px;
        min-height: 200px;
        max-height: 200px;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
        background-size: cover;

        color: white;


        .provider-image {
            overflow: hidden;
            width: 56px;
            height: 56px;
            border-radius: 5px;
            border: 3px solid rgba(0, 0, 0, 0.12);
            margin-right: 10px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
            opacity: 0.6;
        }


        .profile-image {
            margin-right: 24px;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 0 8px;
            }
        }

        .selected-cluster {
            background: rgba(0, 0, 0, 0.12);
            color: #FFFFFF;
            padding: 8px 16px;
            height: 40px;
            line-height: 24px;
            font-size: 16px;
            border-radius: 8px 0 0 0;
        }

        .cluster-selector {
            margin-left: 1px;
            background: rgba(0, 0, 0, 0.12);
            border-radius: 0 8px 0 0;

            mat-icon {
                color: #FFFFFF;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
}