@import "src/@fuse/scss/fuse";

.submit-job-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('m') {
        min-width: 680px;
        max-width: 800px;
        width: 800px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 78vh;
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }

    .job-selection-group {
        margin-top: 10px;
    }

    .job-selection-label {
        margin: 10px;
    }

    .job-selection-button {
        visibility: hidden;
    }

    .job-selection-card {
        border: 1px solid rgba(0, 0, 0, 0.12);
        padding-bottom: 4px;
        margin-right: 20px;
    }

    .job-selection-card:hover {
        border: 1px solid rgba(3, 155, 229, 0.5);
        cursor: pointer;
    }

    .job-selection-card:focus {
        border: 1px solid rgba(3, 155, 229, 1);
    }

    .job-selection-header {
        display: flex;
        justify-content: space-between;
    }

    .job-selection-title {
        font-weight: bold;
    }

    .job-selection-content {
        margin: 8px;
    }

    .job-selection-image {
        height: 20px;
        width: 20px;
    }

    .add-job-button-icon {
        margin-left: 6px;
        font-size: 14px;
    }

    .add-job-button {
        font-size: 14px;
    }

    .custom-job-upload {
        margin-bottom: 10px;
    }

    .custom-job-text {
        margin-top: 30px;
        width: 600px;
    }

    .custom-divider {
        margin: 10px 0 10px 0;
    }

    .form-divider {
        margin-right: 36px;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .job-icon {
        font-size: 14px;
        color: rgba(60, 66, 82, 1);
    }

    .job-build-icon {
        font-size: 14px;
        color: rgba(60, 66, 82, 1);
        margin-right: -5px;
    }

    .job-description {
        padding-bottom: 10px;
        margin-left: 14px;
        font-weight: normal;
    }

    .review-title-divider {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .template-divider {
        margin-top: 10px;
    }

    .field {
        pointer-events: none;
    }

    .custom-mat-input {
        margin-right: 20px;
    }

    .form-subtitle {
        font-style: italic;
        font-weight: bold;
        opacity: 0.8;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .form-footer {
        font-size: 12px;

        .mat-checkbox-inner-container {
            height: 14px !important;
            width: 14px !important;
        }
    }

    .script-options {
        font-size: 12px;
        margin: 10px;
    }

    .custom-script-upload-button {
        margin: 25px 10px 30px 10px;
    }

    .custom-data-upload-button {
        margin: 25px 10px 30px 10px;
    }

    .custom-script-input-field {
        margin-left: 10px;
    }

    .job-custom-icons {
        height: 16px;
        width: 16px;
        margin-right: 5px;
    }

    .cloud-custom-icons {
        height: 30px;
        width: 30px;
        margin-right: 5px;
    }

    .node-input {
        margin-left: 5px;
        margin-right: 20px;
    }
}
