<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0">

        <form *ngIf="formState=='selection'" name="jobSelectionForm" [formGroup]="jobSelectionForm"
              class="event-form w-100-p" fxLayout="column" fxFlex>
            <div id="jobTitle" fxLayoutAlign="space-between center">Select a job to run
                from the list below:
            </div>

            <mat-divider class="custom-divider"></mat-divider>

            <mat-radio-group class="job-selection-group" formControlName="jobs"
                             id="jobSelection" fusePerfectScrollbar>
                <label class="job-selection-label" *ngFor="let job of jobs">
                    <mat-radio-button class="job-selection-button"
                                      [value]="job.name">
                    </mat-radio-button>
                    <mat-card class="job-selection-card" tabindex="0">
                        <mat-card-header class="job-selection-header">

                            <mat-card-title class="job-selection-title">
                                <mat-icon class="job-icon">work</mat-icon>
                                {{job.name}}
                            </mat-card-title>
                            <div>
                                <img class="job-custom-icons" *ngFor="let icon of job.icons" [src]="icon.src"
                                     [alt]="icon.alt" [matTooltip]="icon.alt">
                                <mat-icon class="job-build-icon" *ngIf="job.subtitle==='Configurable'"
                                          matTooltip="This is a configurable job.">build
                                </mat-icon>
                            </div>
                        </mat-card-header>
                        <mat-card-content class="job-description">{{job.description}}</mat-card-content>
                    </mat-card>
                </label>
            </mat-radio-group>

        </form>

        <form *ngIf="formState=='cluster-config'" name="clusterConfigurationForm" [formGroup]="clusterConfigurationForm"
              class="event-form w-100-p" fxLayout="column" fxFlex>
            <div fxLayoutAlign="space-between center">Choose where you want to run you job:
            </div>

            <mat-divider class="custom-divider"></mat-divider>

            <mat-radio-group class="job-selection-group" formControlName="clusters" fusePerfectScrollbar>
                <div *ngFor="let cluster of cluster_configuration">
                <label *ngIf="cluster.state=='Online' && !cluster.on_demand" class="job-selection-label">
                    <mat-radio-button class="job-selection-button"
                                      [value]="cluster">
                    </mat-radio-button>
                    <mat-card class="job-selection-card" tabindex="0">
                        <mat-card-header class="job-selection-header">

                            <mat-card-title class="job-selection-title">
                                <mat-icon class="job-icon">cloud</mat-icon>
                                {{cluster.name}}
                            </mat-card-title>
                            <div>
                                <img class="cloud-custom-icons" [src]="cluster.icon"
                                     [alt]="cluster.name" [matTooltip]="[cluster.name]">
                            </div>
                        </mat-card-header>
                        <mat-card-content class="job-description">Cluster: {{cluster.id}}</mat-card-content>
                    </mat-card>
                </label>
                </div>

                <!--<label class="job-selection-label">
                    <mat-radio-button class="job-selection-button"
                                      value="new-cluster">
                    </mat-radio-button>
                    <mat-card class="job-selection-card" tabindex="0">
                        <mat-card-header class="job-selection-header">

                            <mat-card-title class="job-selection-title">
                                <mat-icon class="job-icon">cloud_upload</mat-icon>
                                New Cluster
                            </mat-card-title>
                            <div>

                            </div>
                        </mat-card-header>
                        <mat-card-content class="job-description">Deploy a new cluster and submit the job when the cluster becomes available.</mat-card-content>
                    </mat-card>
                </label>-->

                <label class="job-selection-label">
                    <mat-radio-button class="job-selection-button"
                                      value="new-on-demand-cluster">
                    </mat-radio-button>
                    <mat-card class="job-selection-card" tabindex="0">
                        <mat-card-header class="job-selection-header">

                            <mat-card-title class="job-selection-title">
                                <mat-icon class="job-icon">cloud_upload</mat-icon>
                                New On-Demand Cluster
                            </mat-card-title>
                            <div>

                            </div>
                        </mat-card-header>
                        <mat-card-content class="job-description">Deploy a new cluster specifically for this job. This cluster will be destroyed as soon as the job has completed.</mat-card-content>
                    </mat-card>
                </label>
            </mat-radio-group>
        </form>


        <!-- JOB CONFIGURATION CUSTOM FORM -->
        <form *ngIf="formState=='job-configuration-custom'" name="jobConfigurationForm"
              [formGroup]="jobConfigurationForm" class="event-form w-100-p" fxLayout="column" fxFlex>
            <div>
                Upload or enter a custom script and configure the node requirements for the job to run:<br>
            </div>
            <mat-divider class="review-title-divider"></mat-divider>

            <div class="form-subtitle">
                BASIC JOB SETTINGS
            </div>
            <div>
                <mat-form-field class="custom-mat-input" style="width: 95%">
                    <input class="field" matInput formControlName="jobName" placeholder="Job Name" required>
                </mat-form-field>
            </div>
            <div>Job Script *:</div>
            <mat-radio-group formControlName="scriptOptions" [(ngModel)]="customScriptOption">
                <mat-radio-button class="script-options" value="uploadScript">
                    Upload Script
                </mat-radio-button>
                <mat-radio-button class="script-options" value="enterScript">
                    Enter Script
                </mat-radio-button>
            </mat-radio-group>

            <div class="custom-script-upload-button" *ngIf="customScriptOption=='uploadScript'">
                <input type="file" (change)="activateSubmitCustomButton($event)">
            </div>

            <mat-form-field class="custom-script-input-field" *ngIf="customScriptOption=='enterScript'">
                <textarea formControlName="jobScript" matInput placeholder="Custom Script"></textarea>
            </mat-form-field>

            <div>Data Files (optional):</div>
            <div class="custom-data-upload-button">
                <input type="file" (change)="addJobData($event)" multiple>
            </div>

            <div class="form-subtitle">
                RESOURCES
            </div>

            <div>Node Requirements:</div>
            <mat-slider min="1" max="250" [(ngModel)]="nodesNumber" [ngModelOptions]="{standalone: true}"></mat-slider>
            <br>
            <mat-form-field class="node-input">
                <input class="field" matInput type="number" min="1" max="250" formControlName="nodesNumber"
                       [(ngModel)]="nodesNumber" placeholder="Number of Nodes">
            </mat-form-field>

            <mat-slider min="1" max="250" [(ngModel)]="coresCount" [ngModelOptions]="{standalone: true}"></mat-slider>
            <br>
            <mat-form-field class="node-input">
                <input class="field" matInput type="number" min="1" max="250" formControlName="coresCount"
                       [(ngModel)]="coresCount" placeholder="Cores per Node">
            </mat-form-field>

            <!--<mat-form-field>
                <input class="field" matInput formControlName="nodesNumber" placeholder="Number of Nodes" required>
            </mat-form-field>

            <mat-form-field>
                <input class="field" matInput formControlName="coresCount" placeholder="Cores per Node" required>
            </mat-form-field>-->
        </form>

        <!-- JOB REVIEW FORM -->
        <form *ngIf="formState=='job-review' || formState=='job-submission'" name="jobReviewForm"
              [formGroup]="jobReviewForm"
              class="event-form w-100-p"
              fxLayout="column" fxFlex fusePerfectScrollbar>
            <div>
                Please confirm that all your selections are accurate.<br>
                <mat-checkbox formControlName="addShortcut" labelPosition="before" class="form-footer">Add Job to Quick
                    Launch List:
                </mat-checkbox>
            </div>
            <mat-divider class="review-title-divider"></mat-divider>

            <div fusePerfectScrollbar>
                <div class="form-subtitle">
                    BASIC JOB SETTINGS
                </div>
                <div>
                    <mat-form-field class="custom-mat-input" style="width: 95%">
                        <input class="field" matInput formControlName="jobName" placeholder="Job Name" readonly>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="custom-mat-input" style="width: 95%">
                        <input class="field" matInput formControlName="jobType" placeholder="Job Type" readonly>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="custom-mat-input" style="width: 95%;">
                    <textarea class="field" style="min-height: 300px;" matInput formControlName="jobScript"
                              placeholder="Script"
                              readonly></textarea>
                    </mat-form-field>
                </div>

                <div style="font-size: 12px; opacity: 0.7">Data Files:</div>
                <div *ngIf="selected_data.length > 0" style="margin-bottom: 20px;">
                    <ul *ngFor="let file of selected_data">
                        <li>{{file.name}}</li>
                    </ul>
                </div>
                <div *ngIf="selected_data.length == 0" style="margin-bottom: 20px;">
                    -
                </div>
                <mat-divider class="form-divider"></mat-divider>

                <div class="form-subtitle">
                    RESOURCES
                </div>

                <div>
                    <mat-form-field class="custom-mat-input" style="width: 95%">
                        <input class="field" matInput formControlName="nodesNumber" placeholder="Number of Nodes"
                               readonly>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="custom-mat-input" style="width: 95%">
                        <input class="field" matInput formControlName="coresCount" placeholder="Cores per Node"
                               readonly>
                    </mat-form-field>
                </div>

            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <button
            mat-raised-button
            (click)="showPreviousScreen()"
            class="next-button mat-accent"
            id="back-button"
            aria-label="BACK"
            [disabled]="formState=='selection'">
            BACK
        </button>

        <button
            *ngIf="formState=='cluster-config'"
            mat-raised-button
            (click)="submitJob()"
            class="next-button mat-accent"
            id="next-button-cluster"
            aria-label="SUBMIT"
            [disabled]="clusterConfigurationForm.invalid">
            SUBMIT
        </button>

        <button
            *ngIf="formState=='selection'"
            mat-raised-button
            (click)="selectJob()"
            class="next-button mat-accent"
            id="next-button-selection"
            aria-label="NEXT"
            [disabled]="jobSelectionForm.invalid">
            NEXT
        </button>

        <button
            *ngIf="formState=='job-configuration-custom'"
            mat-raised-button
            (click)="configureJob()"
            class="next-button mat-accent"
            id="next-button-configuration"
            aria-label="NEXT"
            [disabled]="jobConfigurationForm.invalid">
            NEXT
        </button>

        <button
            *ngIf="formState=='job-review'"
            mat-raised-button
            (click)="confirmJobConfiguration()"
            class="next-button mat-accent"
            id="select-cluster"
            aria-label="NEXT"
            [disabled]="formState=='job-submission'">
            NEXT
        </button>

        <!--<button
            *ngIf="formState=='cluster-config' || formState=='job-submission'"
            mat-raised-button
            (click)="submitJob()"
            class="next-button mat-accent"
            id="submit-button"
            aria-label="SUBMIT"
            [disabled]="formState=='job-submission'">
            SUBMIT
        </button>-->

        <!--<button
            *ngIf="formState=='job-configuration-custom'"
            mat-raised-button
            (click)="submitCustomJob()"
            class="next-button mat-accent"
            id="submit-button-custom"
            aria-label="SUBMIT">
            SUBMIT
        </button>-->
    </div>
</div>
