<div id="nodes" class="page-layout simple left-sidebar inner-sidebar">
    <div class="content">
        <div class="content" fusePerfectScrollbar>
            <nodes-sidebar></nodes-sidebar>
        </div>

        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <div class="content">
                <nodes-list></nodes-list>
            </div>
        </div>
    </div>
</div>