@import "src/@fuse/scss/fuse";

.job-details-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('m') {
        min-width: 680px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }


}

.field:disabled {
    color: rgba(60, 66, 82, 1);
}

.output {
    min-height: 280px;
}

.output-field {
    margin-top: 10px;
}

.output:disabled {
    color: rgba(3, 169, 244, 1);
}