<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form name="jobDetailsForm" [formGroup]="jobDetailsForm" class="event-form w-100-p" fxLayout="column" fxFlex style="display: none;">

            <mat-form-field>
                <input class="field" matInput formControlName="jobState" placeholder="Job State" readonly>
            </mat-form-field>

            <mat-form-field class="output-field">
                <textarea class="output" matInput formControlName="jobStdOutput" placeholder="Standard Output" readonly></textarea>
            </mat-form-field>

            <!--<mat-form-field class="output-field">
                <textarea class="output" matInput formControlName="jobStdError" placeholder="Standard Error" readonly></textarea>
            </mat-form-field>-->
        </form>

    </div>

    <!--<div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <button
                mat-raised-button
                (click)="submitJob()"
                class="next-button mat-accent"
                id="submit-button"
                aria-label="SUBMIT">
            RESUBMIT JOB
        </button>
    </div>-->
</div>
