<div class="sidebar-content">
    <div class="card">
        <div class="header-2 p-24" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="card-icon">list_alt</mat-icon>
            <span>Node List</span>
        </div>

        <div class="content py-16" fusePerfectScrollbar>
            <div class="nav material2">
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('all')"
                       [ngClass]="{'active accent':filterBy === 'all'}">
                        <span class="title">All Nodes</span>
                        <div class="nodes-count">{{all_nodes_count}}</div>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('Available')"
                       [ngClass]="{'active accent':filterBy === 'Available'}">
                        <span class="title"><mat-icon class="state-icon">desktop_windows</mat-icon><div
                            class="state-title">Available</div></span>
                        <div class="nodes-count">{{available_nodes_count}}</div>
                    </a>
                </div>
                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('Busy')"
                       [ngClass]="{'active accent':filterBy === 'Busy'}">
                        <span class="title"><mat-icon class="state-icon">desktop_access_disabled</mat-icon><div class="state-title">Busy</div></span>
                        <div class="nodes-count">{{busy_nodes_count}}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>