@import "src/@fuse/scss/fuse";

#clusters {

    .header {
        height: 200px;
        min-height: 200px;
        max-height: 200px;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
        background-size: cover;

        .profile-image {
            margin-right: 24px;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 0 8px;
            }
        }

        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 8px;
            overflow: hidden;
            @include mat-elevation(1);

            .search {
                width: 100%;
                height: 40px;
                line-height: 40px;


                input {
                    width: 100%;
                    height: 40px;
                    min-height: 40px;
                    max-height: 40px;

                }
            }
        }

        .return-dashboard {
            float: right;
        }

        .return-dashboard:hover {
            cursor: pointer;
        }
    }

    .content {
        overflow: hidden;

        .sidebar {
            &:not(.locked-open) {
                background: white;
            }
        }
    }
}