<div id="clusters" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <img class="profile-image avatar huge" src="assets/images/logos/nodus.png"
                 [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <div>
                <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">NODUS Cloud Platform
                </div>
                <div fxLayout="row">
                    <div class="search-wrapper mt-16 mt-sm-0">
                        <div class="search">
                            <input [formControl]="searchInput" placeholder="Search for a cluster">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button mat-raised-button (click)="submitJob()" color="accent" aria-label="Submit Job">Submit Job</button>
            <button mat-raised-button (click)="createNewCluster()" color="primary" aria-label="Create New Cluster">
                Create New Cluster
            </button>
            <!--<button mat-raised-button (click)="openStackManagement()" color="primary" aria-label="Stack Management">
                Stack Management
            </button>-->
        </div>

    </div>
    <!-- / HEADER -->


    <!--<div class="header primary p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16">cloud</mat-icon>
                <span class="logo-text h1">Clusters</span>
            </div>
        </div>

        <div style="margin-top: 10px;" fxLayout="row" fxLayoutAlign="center center">
            <div class="search-wrapper mt-16 mt-sm-0">
                <div class="search">
                    <input [formControl]="searchInput" placeholder="Search for a cluster">
                </div>
            </div>
            <button mat-raised-button (click)="createNewCluster()" color="accent" aria-label="Create New Cluster">
                Create New Cluster
            </button>
        </div>


    </div>-->

    <div class="content">
        <div class="content" fusePerfectScrollbar>
            <clusters-sidebar></clusters-sidebar>
        </div>

        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <div class="content">
                <clusters-list></clusters-list>
            </div>
        </div>
    </div>

</div>