<div id="server-manager-details-content" class="p-24" fxLayout="row wrap">
    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group>

            <mat-tab label="System">
                <div class="tab-content p-24" fusePerfectScrollbar>
                    <div *ngFor="let attribute of data.stats.system | keyvalue">
                        <mat-form-field *ngIf="!isObject(attribute.value)" class="w-100-p">
                            <input matInput [placeholder]="attribute.key" [value]="attribute.value" readonly>
                        </mat-form-field>

                        <div *ngIf="isObject(attribute.value)" fxLayout="column" fxFlex="100">
                            <div class="profile-box info-box" fxLayout="column">

                                <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="title">{{attribute.key}}</div>
                                </header>

                                <div class="content" *ngFor="let field of attribute.value | keyvalue">
                                    <mat-form-field *ngIf="!isObject(field.value)" class="w-100-p">
                                        <input matInput [placeholder]="field.key" [value]="field.value" readonly>
                                    </mat-form-field>

                                    <div *ngIf="isObject(field.value)">
                                        <mat-card class="card-template" tabindex="0">
                                            <mat-card-header class="card-template-header">
                                                <mat-card-title>
                                                    {{field.key}}
                                                </mat-card-title>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <div *ngFor="let property of field.value | keyvalue">
                                                    <mat-form-field *ngIf="!isObject(property.value)" class="w-100-p">
                                                        <input matInput [placeholder]="property.key" [value]="property.value" readonly>
                                                    </mat-form-field>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Platform">
                <div class="tab-content p-24" fusePerfectScrollbar>
                    <div *ngFor="let attribute of data.stats.platform | keyvalue">
                        <mat-form-field *ngIf="!isObject(attribute.value)" class="w-100-p">
                            <input matInput [placeholder]="attribute.key" [value]="attribute.value" readonly>
                        </mat-form-field>

                        <div *ngIf="isObject(attribute.value)" fxLayout="column" fxFlex="100">
                            <div class="profile-box info-box" fxLayout="column">

                                <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="title">{{attribute.key}}</div>
                                </header>

                                <div class="content" *ngFor="let field of attribute.value | keyvalue">
                                    <mat-form-field *ngIf="!isObject(field.value)" class="w-100-p">
                                        <input matInput [placeholder]="field.key" [value]="field.value" readonly>
                                    </mat-form-field>

                                    <div *ngIf="isObject(field.value)">
                                        <mat-card class="card-template" tabindex="0">
                                            <mat-card-header class="card-template-header">
                                                <mat-card-title>
                                                    {{field.key}}
                                                </mat-card-title>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <div *ngFor="let property of field.value | keyvalue">
                                                    <mat-form-field *ngIf="!isObject(property.value)" class="w-100-p">
                                                        <input matInput [placeholder]="property.key" [value]="property.value" readonly>
                                                    </mat-form-field>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="CPU">
                <div class="tab-content p-24" fusePerfectScrollbar>
                    <div *ngFor="let attribute of data.stats.cpu | keyvalue">
                        <mat-form-field *ngIf="!isObject(attribute.value)" class="w-100-p">
                            <input matInput [placeholder]="attribute.key" [value]="attribute.value" readonly>
                        </mat-form-field>

                        <div *ngIf="isObject(attribute.value)" fxLayout="column" fxFlex="100">
                            <div class="profile-box info-box" fxLayout="column">

                                <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="title">{{attribute.key}}</div>
                                </header>

                                <div class="content" *ngFor="let field of attribute.value | keyvalue">
                                    <mat-form-field *ngIf="!isObject(field.value)" class="w-100-p">
                                        <input matInput [placeholder]="field.key" [value]="field.value" readonly>
                                    </mat-form-field>

                                    <div *ngIf="isObject(field.value)">
                                        <mat-card class="card-template" tabindex="0">
                                            <mat-card-header class="card-template-header">
                                                <mat-card-title>
                                                    {{field.key}}
                                                </mat-card-title>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <div *ngFor="let property of field.value | keyvalue">
                                                    <mat-form-field *ngIf="!isObject(property.value)" class="w-100-p">
                                                        <input matInput [placeholder]="property.key" [value]="property.value" readonly>
                                                    </mat-form-field>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="FS">
                <div class="tab-content p-24" fusePerfectScrollbar>
                    <div *ngFor="let attribute of data.stats.fs | keyvalue">
                        <mat-form-field *ngIf="!isObject(attribute.value)" class="w-100-p">
                            <input matInput [placeholder]="attribute.key" [value]="attribute.value" readonly>
                        </mat-form-field>

                        <div *ngIf="isObject(attribute.value)" fxLayout="column" fxFlex="100">
                            <div class="profile-box info-box" fxLayout="column">

                                <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="title">{{attribute.key}}</div>
                                </header>

                                <div class="content" *ngFor="let field of attribute.value | keyvalue">
                                    <mat-form-field *ngIf="!isObject(field.value)" class="w-100-p">
                                        <input matInput [placeholder]="field.key" [value]="field.value" readonly>
                                    </mat-form-field>

                                    <div *ngIf="isObject(field.value)">
                                        <mat-card class="card-template" tabindex="0">
                                            <mat-card-header class="card-template-header">
                                                <mat-card-title>
                                                    {{field.key}}
                                                </mat-card-title>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <div *ngFor="let property of field.value | keyvalue">
                                                    <mat-form-field *ngIf="!isObject(property.value)" class="w-100-p">
                                                        <input matInput [placeholder]="property.key" [value]="property.value" readonly>
                                                    </mat-form-field>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Memory">
                <div class="tab-content p-24" fusePerfectScrollbar>
                    <div *ngFor="let attribute of data.stats.memory | keyvalue">
                        <mat-form-field *ngIf="!isObject(attribute.value)" class="w-100-p">
                            <input matInput [placeholder]="attribute.key" [value]="attribute.value" readonly>
                        </mat-form-field>

                        <div *ngIf="isObject(attribute.value)" fxLayout="column" fxFlex="100">
                            <div class="profile-box info-box" fxLayout="column">

                                <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="title">{{attribute.key}}</div>
                                </header>

                                <div class="content" *ngFor="let field of attribute.value | keyvalue">
                                    <mat-form-field *ngIf="!isObject(field.value)" class="w-100-p">
                                        <input matInput [placeholder]="field.key" [value]="field.value" readonly>
                                    </mat-form-field>

                                    <div *ngIf="isObject(field.value)">
                                        <mat-card class="card-template" tabindex="0">
                                            <mat-card-header class="card-template-header">
                                                <mat-card-title>
                                                    {{field.key}}
                                                </mat-card-title>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <div *ngFor="let property of field.value | keyvalue">
                                                    <mat-form-field *ngIf="!isObject(property.value)" class="w-100-p">
                                                        <input matInput [placeholder]="property.key" [value]="property.value" readonly>
                                                    </mat-form-field>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Network">
                <div class="tab-content p-24" fusePerfectScrollbar>
                    <div *ngFor="let attribute of data.stats.network | keyvalue">
                        <mat-form-field *ngIf="!isObject(attribute.value)" class="w-100-p">
                            <input matInput [placeholder]="attribute.key" [value]="attribute.value" readonly>
                        </mat-form-field>

                        <div *ngIf="isObject(attribute.value)" fxLayout="column" fxFlex="100">
                            <div class="profile-box info-box" fxLayout="column">

                                <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="title">{{attribute.key}}</div>
                                </header>

                                <div class="content" *ngFor="let field of attribute.value | keyvalue">
                                    <mat-form-field *ngIf="!isObject(field.value)" class="w-100-p">
                                        <input matInput [placeholder]="field.key" [value]="field.value" readonly>
                                    </mat-form-field>

                                    <div *ngIf="isObject(field.value)">
                                        <mat-card class="card-template" tabindex="0">
                                            <mat-card-header class="card-template-header">
                                                <mat-card-title>
                                                    {{field.key}}
                                                </mat-card-title>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <div *ngFor="let property of field.value | keyvalue">
                                                    <mat-form-field *ngIf="!isObject(property.value)" class="w-100-p">
                                                        <input matInput [placeholder]="property.key" [value]="property.value" readonly>
                                                    </mat-form-field>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->
</div>

<!--<div id="server-manager-dashboard" class="p-24" fxLayout="row wrap">
    <div class="title">{{cluster.name}}
        <button *ngIf="viewState == 'default'" class="maximize-button" mat-icon-button (click)="maximizeView()" aria-label="Maximize"
                matTooltip="Click to Switch to Full Screen View.">
            <mat-icon>aspect_ratio</mat-icon>
        </button>
        <button *ngIf="viewState == 'fullscreen'" class="maximize-button" mat-icon-button (click)="closeFullScreenView()" aria-label="Close Full Screen"
                matTooltip="Click to Close Full Screen View.">
            <mat-icon>close</mat-icon>
        </button>
        <div class="current-date">
            {{currentTime}}
        </div>
        <div>
            <mat-icon class="subtitle">desktop_windows</mat-icon>
            System Overview
        </div>
    </div>

</div>-->
