@import "src/@fuse/scss/fuse";

#server-manager-details-content {

    .content {

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content {
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .provider-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

    }

    .title {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .subtitle {
        padding-top: 4px;
        font-size: 14px;
    }

    .maximize-button {
        position: absolute;
        right: 50px;
    }

    .current-date {
        margin-bottom: 20px;
    }

}

