<div class="dialog-content-wrapper" style="width: 100%">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc"
           multiTemplateDataRows>
        <!-- Node ID Column -->
        <ng-container matColumnDef="node_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Node ID</th>
            <td mat-cell *matCellDef="let node" class="id-column">{{node.name}}</td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
            <td mat-cell *matCellDef="let node">
                <div *ngIf="node.state=='free'" class="node-free">Available</div>
                <div *ngIf="node.state=='job-exclusive'" class="node-busy">Busy</div>
                <div *ngIf="node.state!='free' && node.state!='job-exclusive'" class="node-down">Down</div>
            </td>
        </ng-container>

        <!-- Available Cores Column -->
        <ng-container matColumnDef="available_cores">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Cores</th>
            <td mat-cell *matCellDef="let node">{{node.total_cores}}</td>
        </ng-container>

        <!-- Available Threads Column -->
        <ng-container matColumnDef="available_threads">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Available Threads</th>
            <td mat-cell *matCellDef="let node">
                <div *ngIf="node.state=='free' || node.state=='job-exclusive'">{{node.total_threads -
                    node.dedicated_threads}} / {{node.total_threads}}
                </div>
                <div *ngIf="node.state!='free' && node.state!='job-exclusive'">0 / {{node.total_threads}}</div>
            </td>
        </ng-container>

        <!-- Idle Purge Time Column -->
        <ng-container matColumnDef="idle_purge_time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Idle Purge Time</th>
            <td mat-cell *matCellDef="let node">
                <div *ngIf="selectedCluster.on_demand">-- On-Demand Cluster --</div>
                <div *ngIf="!selectedCluster.on_demand">{{selectedCluster.idle_purge_time}} seconds</div>
            </td>
        </ng-container>

        <!-- Buttons Column -->
        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let node">
                <div fxFlex="row" fxLayoutAlign="end center">

                    <button *ngIf="!node.name.includes('server')" mat-icon-button [matMenuTriggerFor]="moreMenu"
                            aria-label="More"
                            (click)="$event.stopPropagation();">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>

                    <mat-menu #moreMenu="matMenu">
                        <button mat-menu-item aria-label="remove" (click)="destroyNode(node)">
                            <mat-icon>delete_forever</mat-icon>
                            <span>Destroy</span>
                        </button>
                    </mat-menu>
                </div>
            </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let node; columns: displayedColumns;" class="table-row">
        </tr>
    </table>
</div>