@import "src/@fuse/scss/fuse";

nodes-list {
    display: flex;
    flex: 1 1 auto;
    width: 55vw;

    .mat-table {
        width: 75vw;
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            padding: 8px;

            .mat-cell {
                min-width: 0;
            }
        }
    }

    .id-column {
        font-weight: bold;
    }

    .node-free {
        color: darkgreen;
        font-style: italic;
    }

    .node-busy {
        color: darkgoldenrod;
        font-style: italic;
    }

    .node-down {
        color: darkred;
        font-style: italic;
    }
}
