// Import Fuse core library
@import "@fuse/scss/core";
// Import app.theme.scss
@import "app/app.theme";


.custom-slider {
    .ng5-slider {
        .ng5-slider-bar {
            background: rgba(189, 189, 189, 1) !important;
            height: 2px !important;
        }

        .ng5-slider-pointer {
            background: rgba(3, 155, 229, 1) !important;
            height: 14px !important;
            width: 14px !important;
            top: auto !important;
            bottom: -4px !important;
        }

        .ng5-slider-pointer:after {
            display: none !important;
        }

        .ng5-slider-selection {
            background: rgba(3, 155, 229, 1) !important;
        }

        .ng5-slider-floor {
            font-size: 12px !important;
            color: black !important;
        }

        .ng5-slider-ceil {
            font-size: 12px !important;
            color: black !important;
        }

        .ng5-slider-model-value {
            font-size: 12px !important;
            color: black !important;
        }

        .ng5-slider-model-high {
            font-size: 12px !important;
            color: black !important;
        }

        .ng5-slider-combined {
            font-size: 12px !important;
            color: black !important;
        }
    }
}