<div id="stacks" class="page-layout simple left-sidebar inner-sidebar">
    <div class="content">
        <div class="content" fusePerfectScrollbar>
            <stacks-sidebar></stacks-sidebar>
        </div>

        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <div class="content">
                <stacks-list></stacks-list>
            </div>
        </div>
    </div>
</div>