@import "src/@fuse/scss/fuse";

#stacks {
    .content {
        overflow: hidden;

        .sidebar {
            &:not(.locked-open) {
                background: white;
            }
        }
    }
}