<div id="server-manager-dashboard-content" class="p-24" fxLayout="row wrap">
    <!-- CONTENT -->
    <div class="content">
        <mat-table class="nodes-table"
                   #table [dataSource]="dataSource"
                   matSort
                   [@animateStagger]="{value:'50'}"
                   fusePerfectScrollbar>

            <ng-container *ngFor="let column of table_config.columns" [matColumnDef]="column.id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.name}}</mat-header-cell>
                <mat-cell *matCellDef="let node">{{node[column.id]}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

            <mat-row *matRowDef="let node; columns: displayedColumns;"
                     class="node"
                     matRipple
                     [routerLink]="'/apps/nodus-cloud-platform/nodes/details'">
            </mat-row>

        </mat-table>

        <mat-paginator #paginator
                       [length]="dataSource.filteredData.length"
                       [pageIndex]="0"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
    <!-- / CONTENT -->
</div>