<div class="dialog-content-wrapper" style="width: 100%">
    <div style="float: right">
        <span>Refresh</span>
        <button mat-icon-button aria-label="Refresh"
                (click)="updateClusterList()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc"
           multiTemplateDataRows>
        <!-- Cluster Icon Column -->
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let cluster">
                <mat-icon *ngIf="cluster.state=='Online'"
                          style="font-size: 18px; margin-left: 10px; color: darkgreen; padding-top: 2px;">cloud_done
                </mat-icon>
                <mat-icon *ngIf="cluster.state=='Provisioning'"
                          style="font-size: 18px; margin-left: 10px; color: darkgoldenrod; padding-top: 2px;">
                    cloud_upload
                </mat-icon>
                <mat-icon *ngIf="cluster.state=='Redeploying'"
                          style="font-size: 18px; margin-left: 10px; color: darkgoldenrod; padding-top: 2px;">
                    cloud_upload
                </mat-icon>
                <mat-icon *ngIf="cluster.state=='Resizing'"
                          style="font-size: 18px; margin-left: 10px; color: darkgoldenrod; padding-top: 2px;">
                    cloud_upload
                </mat-icon>
                <mat-icon *ngIf="cluster.state=='Destroying'"
                          style="font-size: 18px; margin-left: 10px; color: darkred; padding-top: 2px;">cloud_off
                </mat-icon>
                <mat-icon *ngIf="cluster.state=='Failed'"
                          style="font-size: 18px; margin-left: 10px; color: darkred; padding-top: 2px;">cloud_off
                </mat-icon>
            </td>
        </ng-container>

        <!-- Cluster Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
            <td mat-cell *matCellDef="let cluster">
                <div *ngIf="cluster.state!='Online'">{{cluster.name}}</div>
                <a *ngIf="cluster.state=='Online'" class="cluster-online" (click)="openClusterDashboard(cluster)">{{cluster.name}}</a>
            </td>
        </ng-container>

        <!-- Cluster Provider Column -->
        <ng-container matColumnDef="provider">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="provider">Provider</th>
            <td mat-cell *matCellDef="let cluster"><span class="title"><img class="provider-icon"
                                                                            [src]="cluster.icon"
                                                                            [alt]="cluster.provider">{{cluster.provider}}</span>
            </td>
        </ng-container>

        <!-- Cluster State Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="state">State</th>
            <td mat-cell *matCellDef="let cluster">{{cluster.state}}</td>
        </ng-container>

        <!-- Cluster Size Column -->
        <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="size">Size (Number of Nodes)</th>
            <td mat-cell *matCellDef="let cluster">{{cluster.size}}</td>
        </ng-container>

        <!-- Cluster ID Column -->
        <ng-container matColumnDef="cluster_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="cluster_id">Cluster ID</th>
            <td mat-cell *matCellDef="let cluster">{{cluster.id}}</td>
        </ng-container>

        <!-- Buttons Column -->
        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef class="cluster-options-button"></th>
            <td mat-cell *matCellDef="let cluster" class="cluster-options-button">
                <div fxFlex="row" fxLayoutAlign="end center">

                    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                            (click)="$event.stopPropagation();">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Details" (click)="showClusterDetails(cluster)">
                        <mat-icon *ngIf="clusterDetails.id != cluster.id" class="secondary-text">arrow_drop_down
                        </mat-icon>
                        <mat-icon *ngIf="clusterDetails.id == cluster.id" class="secondary-text">arrow_drop_up
                        </mat-icon>
                    </button>

                    <mat-menu #moreMenu="matMenu">
                        <button mat-menu-item aria-label="remove" (click)="redeployCluster(cluster)">
                            <mat-icon>cloud_upload</mat-icon>
                            <span>Re-Deploy</span>
                        </button>
                        <button mat-menu-item aria-label="remove" (click)="destroyCluster(cluster)">
                            <mat-icon>cloud_off</mat-icon>
                            <span>Destroy</span>
                        </button>
                    </mat-menu>
                </div>
            </td>
        </ng-container>

        <!-- Cluster Expanded Details -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let cluster" [attr.colspan]="displayedColumns.length" style="cursor: default;">
                <div class="cluster-detail"
                     [@detailExpand]="cluster.id == clusterDetails.id ? 'expanded' : 'collapsed'">
                    <mat-card style="width: 100%">

                        <div class="container" fxLayout="column" fxLayoutWrap style="line-height: 25px;">
                            <div fxLayout="row">
                                <div fxFlex="25%">Created At:</div>
                                <div style="display: inline-flex;">{{cluster.created_at}} (UTC)</div>
                            </div>
                            <div fxLayout="row">
                                <div fxFlex="25%">Head Node Public IP:</div>
                                <div *ngIf="cluster.api" style="display: inline-flex;">
                                    {{cluster.api.split('//')[1].split(':')[0]}}
                                </div>
                                <div *ngIf="!cluster.api" style="display: inline-flex">- pending -</div>
                            </div>
                            <div fxLayout="row">
                                <div fxFlex="25%">Head Node Instance Size:</div>
                                <div style="display: inline-flex; color: darkorange"
                                     [matTooltip]="cluster.head_node_label">{{cluster.head_node_size}}
                                </div>
                            </div>
                            <div fxLayout="row">
                                <div fxFlex="25%">Compute Node Instance Size:</div>
                                <div style="display: inline-flex; color: darkorange"
                                     [matTooltip]="cluster.compute_node_label">{{cluster.compute_node_size}}
                                </div>
                            </div>
                            <div fxLayout="row">
                                <div *ngIf="cluster.on_demand" class="on-demand-notifier">This is an on-demand
                                    cluster.
                                </div>
                                <div *ngIf="!cluster.on_demand" fxFlex="25%">Idle Purge Time (seconds):</div>
                                <div class="on-demand-notifier" style="display: inline-flex;">
                                    {{cluster.idle_purge_time}}
                                </div>
                            </div>
                            <div fxLayout="row">
                                <div fxFlex="25%">Region:</div>
                                <div style="display: inline-flex;">{{cluster.region}}</div>
                            </div>
                            <div fxLayout="row" style="margin-top: 40px;">
                                <div class="cluster-details-button">
                                    <button mat-raised-button (click)="getClusterDeployLogs(cluster)" color="accent"
                                            aria-label="View Deploy Logs">
                                        <mat-icon style="font-size: 18px;">library_books</mat-icon>
                                        View Deploy Logs
                                    </button>
                                </div>
                                <div class="cluster-details-button">
                                    <button mat-raised-button (click)="downloadClusterKey(cluster)" color="accent"
                                            aria-label="Download Cluster SSH Key">
                                        <mat-icon style="font-size: 18px;">save_alt</mat-icon>
                                        Download Cluster SSH-Key
                                    </button>
                                </div>
                            </div>

                        </div>

                        <!--<div class="mat-elevation-z8" style="margin-top: 20px;">
                            <table mat-table [dataSource]="dataSourceNodes">
                                <ng-container matColumnDef="counter">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let node" style="cursor: default;">
                                        <mat-icon *ngIf="node.state=='Online'"
                                                  style="font-size: 18px; margin-left: 10px; color: darkgreen; padding-top: 4px;">
                                            cloud_done
                                        </mat-icon>
                                        <mat-icon *ngIf="node.state=='Provisioning'"
                                                  style="font-size: 18px; margin-left: 10px; color: darkgoldenrod; padding-top: 4px;">
                                            cloud_upload
                                        </mat-icon>
                                        <mat-icon *ngIf="node.state=='Redeploying'"
                                                  style="font-size: 18px; margin-left: 10px; color: darkgoldenrod; padding-top: 4px;">
                                            cloud_upload
                                        </mat-icon>
                                        <mat-icon *ngIf="node.state=='Destroying'"
                                                  style="font-size: 18px; margin-left: 10px; color: darkred; padding-top: 4px;">
                                            cloud_off
                                        </mat-icon>
                                        <mat-icon *ngIf="node.state=='Offline'"
                                                  style="font-size: 18px; margin-left: 10px; color: darkred; padding-top: 4px;">
                                            cloud_off
                                        </mat-icon>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="hostname">
                                    <th mat-header-cell *matHeaderCellDef>Node</th>
                                    <td mat-cell *matCellDef="let node" style="cursor: default;">
                                        <div *ngIf="node.state!='Online'">{{node.hostname}}</div>
                                        <a *ngIf="node.state=='Online'" class="cluster-online"
                                           (click)="openNodeDashboard(node)">{{node.hostname}}</a></td>
                                </ng-container>
                                <ng-container matColumnDef="cores">
                                    <th mat-header-cell *matHeaderCellDef>Cores</th>
                                    <td mat-cell *matCellDef="let node" style="cursor: default;">{{node.cores}}</td>
                                </ng-container>
                                <ng-container matColumnDef="state">
                                    <th mat-header-cell *matHeaderCellDef>State</th>
                                    <td mat-cell *matCellDef="let node" style="cursor: default;">{{node.state}}</td>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef>Status</th>
                                    <td mat-cell *matCellDef="let node" style="cursor: default;">{{node.status}}</td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedNodeColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedNodeColumns"></tr>
                            </table>
                        </div>-->
                    </mat-card>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let cluster; columns: displayedColumns;" [class]="cluster.state">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="cluster-details-row"></tr>
    </table>
</div>