@import "src/@fuse/scss/fuse";

clusters-list {
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    .mat-table {
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 8px;

            .mat-cell {
                min-width: 0;
            }
        }
    }

    .provider-icon {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    .provider-state {

    }

    cluster-dashboard-link {
        color: blue;
        cursor: pointer;
    }

    .cluster-details-button {
        margin-right: 10px;
    }

    .Online:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .cluster-options-button {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .cluster-online {
        cursor: pointer;
    }

    .cluster-detail {
        overflow: hidden;
        display: flex;
        margin: 10px;
        cursor: default;
    }

    tr.cluster-details-row {
        height: 0;
    }

    .on-demand-notifier {

    }

    .cluster-details-subtitle {
        margin-bottom: 10px;
    }

    .nodes-list-row {
        cursor: help;
    }
}