@import "src/@fuse/scss/fuse";

process-list {
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    .mat-table {
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 8px;

            .mat-cell {
                min-width: 0;
            }
        }
    }

    .process:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}