<table mat-table [dataSource]="dataSource">
    <!-- Process ID Column -->
    <ng-container matColumnDef="process_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Process ID</th>
        <td mat-cell *matCellDef="let process" style="width: 250px;">{{process.id}}</td>
    </ng-container>

    <!-- Process Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let process" style="width: 500px;">{{process.name}}</td>
    </ng-container>

    <!-- Process State Column -->
    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
        <td mat-cell *matCellDef="let process">{{process.state}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let process; columns: displayedColumns;" class="process" (click)="openProcessDetails(process)">
    </tr>
</table>